<section class="lg:grid lg:w-full lg:mt-24 lg:grid-cols-12 flex mt-24">
  <div class="lg:col-span-1 w-full"></div>
  <div class="lg:col-span-10 flex px-16">
    <div class="w-full mx-10">
      <div class="w-6/12 max-w-xl mx-auto mt-10 text-gray-900 border-b">
        <%if !flash[:notice].blank? %>
          <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500">
            <span class="inline-block align-middle mr-8">
              <%= flash[:notice]%>
            </span>
          </div>
        <% end %>
        <div class="font-glacialbold text-heading">Change Password</div>
        <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="text-red-500 mt-4"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
          <div class="bg-white pt-6 pb-4 mb-4 flex flex-col">
            <div class="mb-4">
              <%= f.password_field :password, autofocus: true, autocomplete: "passsword", class: "shadow-lg border rounded-2lg w-full py-3 px-5 text-gray-700 focus:outline-none", placeholder: "Password"%>
            </div>
            <div class="mb-3">
              <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "password_confirmation", class: "shadow-lg border rounded-2lg w-full py-3 px-5 text-gray-700 focus:outline-none", placeholder: "Password Confirmation"%>
            </div>
            <div class="w-full">
              <div class="w-6/12">
                <div class="flex items-center justify-between mt-6">
                  <%= f.submit "Update", class: "text-gray-100 border rounded-lg px-12 py-3 border-doctor-yellow hover:bg-doctor-yellow hover:text-gray-100 bg-white cursor-pointer bg-doctor-yellow shadow-lg" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="lg:col-span-1 relative">
    <div class="absolute right-0 mr-8">
      <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: "h-56" %>
    </div>
    <div class="right-0 absolute -mr-4 -mt-32 z-50">
      <%= image_pack_tag 'yellow_circle_outline_opacity_right.png' %>
    </div>
  </div>
</section>
<section class="lg:w-full flex mt-24">
  <div class="w-6/12 relative">
    <div class="absolute left-0 ml-20">
      <%=image_pack_tag "yellow_circle_full.svg", class: "w-10" %>
    </div>
    <div class="absolute left-0 top-0 -mt-64">
      <%=image_pack_tag "yellow_half_circle_thick.svg", class: "w-24" %>
    </div>
  </div>
  <div class="w-6/12 flex justify-end">
    <div class="absolute right-0 -mt-12 -mr-6">
      <%=image_pack_tag "yellow_circle_full.svg", class:"w-12" %>
    </div>
  </div>
</section>
