<title><%=meta_title%></title>
<META NAME="ROBOTS" CONTENT="<%=allow_crawler%>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="currentLanguage" content="en" />
<meta name="description" content="<%=meta_description%>">
<link rel="canonical" href="<%=render_canonical%>" />
<!-- Open Graph / Facebook -->
<meta property="og:type" content="<%=og_type%>">
<meta property="og:url" content="<%=request.original_url%>">
<meta property="og:title" content="<%=meta_title%>">
<meta property="og:description" content="<%=meta_description%>">
<meta property="og:image" content="https://mydirectdoctor.s3.amazonaws.com/coverimage.png">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%=request.original_url%>">
<meta property="twitter:title" content="<%=meta_title%>">
<meta property="twitter:description" content="<%=meta_description%>">
<meta property="twitter:image" content="https://mydirectdoctor.s3.amazonaws.com/coverimage.png">
