<%= render "devise/shared/links" %>
<section class="lg:grid lg:w-full lg:mt-24 lg:grid-cols-12 flex mt-24">
  <div class="lg:col-span-1 w-full"></div>
  <div class="lg:col-span-10 flex px-16">
    <div class="w-full mx-10">
      <div class="w-8/12 max-w-xl mx-auto">
        <div class="text-center">
          <div class=" font-glacialbold text-2xl">Are you a Doctor?</div>
          <div class="text-xl text-gray-600">If you want to sign up, the first step is to
            <span class="items-end justify-end text-blue-400 inline-block">find your FMDD profile.</span>
          </div>
          <div class="text-xl text-gray-600 pt-2">Already have an account?
            <a href="<%=new_session_path(resource_name) %>"><span class="items-end justify-end text-blue-400 inline-block underline">Sign In</span></a>
          </div>
        </div>
      </div>
      <div class="w-7/12 max-w-xl mx-auto mt-10 text-gray-900 border-b" data-controller="sign-up">
        <div class="font-glacialbold text-heading">Sign Up</div>
        <% flash.each do |msg_type, message| %>
          <% if msg_type == "alert" %>
            <div class="alert">
              <div class="container">
                <%= message %>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="bg-white pt-6 pb-4 mb-4 flex flex-col">
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="mb-4">
              <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: "shadow-lg border rounded-2lg w-full py-3 px-5 text-gray-700 focus:outline-none", placeholder: "Name"%>
            </div>
            <div class="mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-lg border rounded-2lg w-full py-3 px-5 text-gray-700 focus:outline-none", placeholder: "Your Email"%>
            </div>
            <div class="mb-3">
              <%= f.password_field :password, autocomplete: "current-password", class: "shadow-lg border border-red rounded-2lg w-full py-3 px-5 text-gray-700 focus:outline-none", placeholder: "Password" %>
            </div>
            <div class="mb-3">
              <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "shadow-lg border border-red rounded-2lg w-full py-3 px-5 text-gray-700 mb-3 focus:outline-none", placeholder: "Password confirmation" %>
            </div>
            <div class="custom-check flex" >
              <label class="checkbox-cont pl-8">By signing up, you agree to our <span><a class=" underline cursor-pointer" href="/terms-of-service" target="_blank"> Terms of Service </a></span> and <span><a class=" underline cursor-pointer" href="/privacy-policy" target="_blank">Privacy Policy</a></span>.
                <input type="checkbox" data-action="click->sign-up#accept" data-sign-up-target="acceptCheck">
                <span class="checkmark rounded"></span>
              </label>
            </div>
            <div class="w-full">
              <div class="w-6/12">
                <div class="flex items-center justify-between mt-6">
                  <%= f.submit "Sign up", class: "text-gray-100 border rounded-lg px-12 py-3 border-doctor-yellow  bg-white cursor-pointer bg-doctor-yellow-500 shadow-lg", disabled: true, data: {sign_up_target: "signUpButton"} %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render partial: "devise/shared/social_login_links", locals: {button_text: 'Sign up'} %>
      <div class="w-full mt-6 text-xl text-center text-gray-500">
        We won't auto-post to your social network
      </div>
    </div>
  </div>
  <div class="lg:col-span-1 relative">
    <div class="absolute right-0 mr-8">
      <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: "h-56" %>
    </div>
    <div class="right-0 absolute -mr-4 -mt-32 z-50">
      <%= image_pack_tag 'yellow_circle_outline_opacity_right.png' %>
    </div>
  </div>
</section>
<section class="lg:w-full flex mt-24">
  <div class="w-6/12 relative">
    <div class="absolute left-0 ml-20">
      <%=image_pack_tag "yellow_circle_full.svg", class: "w-10" %>
    </div>
    <div class="absolute left-0 top-0 -mt-64">
      <%=image_pack_tag "yellow_half_circle_thick.svg", class: "w-24" %>
    </div>
  </div>
  <div class="w-6/12 flex justify-end">
    <div class="absolute right-0 -mt-12 -mr-6">
      <%=image_pack_tag "yellow_circle_full.svg", class:"w-12" %>
    </div>
  </div>
</section>
