<%- if devise_mapping.omniauthable? %>
  <div class="lg:w-7/12 max-w-xl mx-4 lg:mx-auto mt-5 pb-4">
    <div class="w-full flex justify-between">
      <%= link_to omniauth_authorize_path(resource_name, 'facebook'), class: "w-full mr-2" do %>
        <div class="1/2 rounded-lg bg-facebook-blue px-4 py-2 text-gray-100 flex items-center">
          <div class="pr-4"><%=image_pack_tag 'icons/facebook_white_login.svg', class: "w-4 h-5"%></div>
          <div><%=button_text%> with facebook</div>
        </div>
      <% end %>
      <%= link_to omniauth_authorize_path(resource_name, 'google_oauth2'), class: "w-full ml-2"  do %>
        <div class="1/2 rounded-lg  bg-google-red px-4 py-2 text-gray-100 flex items-center">
          <div class="pr-4"><%=image_pack_tag 'icons/google_white.svg', class: "w-8 h-5"%></div>
          <div><%=button_text%> with google</div>
        </div>
      <% end %>
    </div>
    <div class="w-full flex justify-between mt-4">
      <a class="w-full mr-2">
        <div class="1/2 rounded-lg bg-twitter-blue px-4 py-2 pr-10 text-gray-100 flex items-center">
          <div class="pr-4"><%=image_pack_tag 'icons/twitter_white_login.svg', class: "w-6 h-5"%></div>
          <div><%=button_text%> with twitter</div>
        </div>
      </a>
      <a class="w-full ml-2">
        <div class="1/2 rounded-lg bg-linkedin-blue px-4 py-2 text-gray-100 flex items-center">
          <div class="pr-4"><%=image_pack_tag 'icons/linkedin_white_login.svg', class: "w-6 h-5"%></div>
          <div><%=button_text%> with linkedin</div>
        </div>
      </a>
    </div>
  </div>
<% end %>
