<%= form_with(model: [:admin, doctor], class: "flex w-full", data: {type: "html", action: "ajax:error->message#errorHandler ajax:success->message#success" }) do |form| %>
  <%= form.hidden_field :update_request, value: params[:update_request] %>
  <%= form.hidden_field :doctor_id, value: params[:id], data: {doctor_target: "doctorId"} %>
  <div class="flex-1 mr-4">
    <div class="bg-white border pb-16 rounded shadow p-5">
      <div class="tab_wrapper" x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'doctor' }">
        <%=render partial: 'admin/doctors/partials/tabs_nav'%>
        <div class="w-full pt-4">
          <div x-show="tab === 'doctor'">
            <%=render partial: 'admin/doctors/partials/practice', locals: {form: form, doctor_degrees: doctor_degrees, specialities: specialities, patients_in_panel: patients_in_panel, price_ranges: price_ranges, experiences: experiences, form_type: 'admin'}%>
          </div>
          <div x-show="tab === 'contact'">
            <%=render partial: 'admin/doctors/partials/contact', locals: {form: form, form_type: 'admin'}%>
          </div>
          <div x-show="tab === 'credentials'">
            <%=render partial: 'admin/doctors/partials/credentials', locals: {form: form, form_type: 'admin'}%>
          </div>
          <div x-show="tab === 'background'">
            <%=render partial: 'admin/doctors/partials/background', locals: {form: form, states: states}%>
          </div>
        </div>
      </div>
      <div class="float-right pt-5 my-4">
        <%= form.button(type: "submit", class: "btn btn-save btn-md btn-default btn-dd-blue btn-outline text-sm font-bold float-right", data: {disable_with: "<i class='fab fa fa-spinner fa-spin pr-2'></i> Saving in..." }) do %>
          <span><i class='fab fa fa-floppy-o pr-2'></i><%=button_text%> Doctor</span>
        <% end %>
      </div>
      <div class="my-6"></div>
    </div>
  </div>
  <div class="w-1/4">
    <div class="bg-white border p-5 rounded shadow doctor-profile-tags">
      <% if form.object&.fdd_id %>
        <div class="input-group">
          <label class="label text-gray-500" for="doctor_FDD_ID">FDD ID</label>
          <%= form.object&.fdd_id %>
        </div>
      <% end %>
      <div class="input-group">
        <%= form.label :slug, :class => "label text-gray-500" %>
        <%= form.text_field :slug, :class => "input bg-white", :autocomplete => "off", data: {slug_target: "slug"} %>
      </div>
      <div class="input-group">
        <label class="label text-gray-500" for="doctor_fmdd_score">FMDD Score</label>
        <%= form.text_field :fmdd_score, :class => "input bg-white", :autocomplete => "off", data: {slug_target: "slug"} %>
      </div>
      <div class="input-group" data-controller="image-upload">
        <%= form.label :image, :class => "label text-gray-500" %>
        <%= image_tag form.object.image_url if form.object.cached_image_data %>
        <%= form.hidden_field :image, value: form.object.cached_image_data, class: "upload-data", data: {doctor_target: "profileImage"} %>
        <%= form.file_field :image, class: 'finput-file label', accept: ImageUploader::ALLOWED_TYPES.join(",") %>
      </div>
      <div class="upload-progress"></div>
      <div class="image-preview" data-doctor-target="imageUrl">
        <img src="<%= doctor_display_image(form.object) %>" height="300" class="rounded" \>
      </div>
      <div class="text-right hidden" id="image-save-button">
        <button type="button" class="btn btn-md btn-default btn-dd-blue btn-outline text-sm font-bold mt-2" data-action="click->doctor#uploadImage">Save</button>
      </div>
      <div class="input-group mt-3">
        <label class="label text-gray-500" for="doctor_doctor_status">Doctor Status</label>
        <%= form.select(:status, statuses.map {|k, v| [k.humanize.capitalize, v]}, {}, {class: "select"}) %>
      </div>
    </div>
  </div>
<% end %>
