<%= form_with(model: [:admin, review], class: "flex w-full", id: "admin_review_form", data: {type: "html", action: "ajax:error->message#errorHandler ajax:success->message#success" }) do |form| %>
  <%= form.hidden_field :status, data: {target: "review.status"} %>
  <div class="flex-1 mb-6 mr-4">
    <div class="bg-white border pb-16 rounded shadow p-5 w-full">
      <div class="w-full pt-4 flex">
        <div class="input-group w-1/2 ml-4">
          <label class="label text-gray-500" for="review_title">Rating</label>
          <%=form.object&.rating%>
        </div>
      </div>
      <div class="w-full pt-4 flex">
        <div class="input-group w-1/2 ml-4">
          <%= form.label :title, :class => "label text-gray-500" %>
          <%= form.text_field :title, :class => "input bg-white", :autocomplete => "off" %>
        </div>
      </div>
      <div class="w-full pt-4 flex">
        <div class="input-group w-1/2 ml-4">
          <%= form.label :review, :class => "label text-gray-500" %>
          <%= form.text_area :review, :class => "input bg-white" %>
        </div>
      </div>
      <div class="my-2 ml-4">
        <label class="block text-grey-darker mb-1 text-base" for="title">
          Were you ever treated by this doctor?
        </label>
        <div class="flex items-center mr-4 text-base">
          <div>
            <%=form.radio_button :treated_by_doctor, 'yes', disabled: true %>
            <%=form.label :treated_by_doctor, "Yes"%>
          </div>
          <div class="ml-4">
            <%=form.radio_button :treated_by_doctor, 'no', disabled: true %>
            <%=form.label :treated_by_doctor, "No"%>
          </div>
        </div>
      </div>
      <div class="my-2 ml-4">
        <label class="block text-grey-darker mb-1 text-base" for="title">
          Would you recommend this doctor?
        </label>
        <div class="flex items-center mr-4 text-base">
          <div>
            <%=form.radio_button :will_you_recommend, 'yes', disabled: true %>
            <%=form.label :will_you_recommend, "Yes"%>
          </div>
          <div class="ml-4">
            <%=form.radio_button :will_you_recommend, 'no', disabled: true %>
            <%=form.label :will_you_recommend, "No"%>
          </div>
        </div>
      </div>
      <div class="my-2 ml-4">
        <label class="block text-grey-darker mb-1 text-base" for="title">
          Would you preferred to be  anonymous?
        </label>
        <div class="flex items-center mr-4 text-base">
          <div>
            <%=form.radio_button :anonymous, 'yes', disabled: true %>
            <%=form.label :anonymous, "Yes"%>
          </div>
          <div class="ml-4">
            <%=form.radio_button :anonymous, 'no', disabled: true  %>
            <%=form.label :anonymous, "No"%>
          </div>
        </div>
      </div>
      <% if @review.present? %>
        <div class="float-left pt-5">
          <a class="btn btn-md btn-default bg-green-500 text-white btn-outline text-sm font-bold" data-action="click->review#approve">
            <span><i class="fab fa fa-floppy-o pr-2"></i>Approve</span>
          </a>
        </div>
        <div class="float-left pt-5 ml-5">
          <a class="btn btn-md btn-default bg-red-500 text-white btn-outline text-sm font-bold" data-action="click->review#reject">
            <span><i class="fab fa fa-floppy-o pr-2"></i>Reject</span>
          </a>
        </div>
        <div class="float-left pt-5 ml-5">
          <a class="btn btn-md btn-default bg-red-800 text-white btn-outline text-sm font-bold" data-action="click->review#trash">
            <span><i class="fab fa fa-trash-o pr-2"></i>Trash</span>
          </a>
        </div>
      <% else %>
        <div class="float-left pt-5">
          <%= form.button(type: "submit", class: "btn btn-md btn-default btn-dd-blue btn-outline text-sm font-bold float-right", data: {disable_with: "<i class='fab fa fa-spinner fa-spin pr-2'></i> Saving in..." }) do %>
            <span><i class='fab fa fa-floppy-o pr-2'></i><%=button_text%> Review</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-1/4">
    <div class="bg-white border p-5 rounded shadow">
      <div class="input-group">
        <label class="label text-gray-500" for="doctor_FDD_ID">FDD ID</label>
        <%= form.object&.doctor&.fdd_id %>
      </div>
      <div class="input-group">
        <label class="label text-gray-500" for="doctor_FDD_ID">Doctor Name</label>
        <%= form.object&.doctor&.name %>
      </div>
      <div class="mt-6 font-glacialitalic text-lg border-b-2">Review by</div>
      <div class="input-group mt-2">
        <label class="label text-gray-500" for="doctor_FDD_ID">Name</label>
        <%= form.object&.name %>
      </div>
      <div class="input-group mt-2">
        <label class="label text-gray-500" for="doctor_FDD_ID">Email</label>
        <%= form.object&.email %>
      </div>
    </div>
  </div>
<% end %>
