<section class="lg:grid lg:w-full mt-24 grid-cols-12 relative z-20">
  <div class="col-span-10 col-start-2">
    <div class="lg:flex lg:w-full lg:mt-8 lg:justify-center">
      <div class="w-full lg:w-3/4 border rounded-2lg shadow-2xl relative -mb-20 -mt-12 bg-white">
        <div class="px-8 pt-2 pb-4 md:pt-0">
          <label class="text-doctor-blue text-lg font-hurmebold">
            Subscribe for our newsletter
          </label>
          <div class="flex justify-between items-center subscribe-bg-gray rounded-lg mt-3">
            <div class="flex justify-center items-center w-full">
              <label class="ml-3 mr-5">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 text-gray-600" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
              </label>
              <input class="my-4 w-full focus:outline-none subscribe-bg-gray" type="text" name="" placeholder="Enter your Email">
            </div>
            <div>
              <button class="bg-doctor-yellow text-gray-100 mr-4 rounded-md md:px-8 px-4 py-2 shadow">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grid grid-cols-12 bg-doctor-blue rounded-tl-lg rounded-tr-lg tracking-wider relative z-10">
  <div class="flex flex-wrap col-start-2 col-span-10">
    <footer class="pt-20 w-full lg:mx-24">
      <div class="flex w-full mt-20 mb-8 lg:ml-8">
        <%= image_pack_tag 'logo_white.png', class: "h-8" %>
      </div>
      <div class="lg:flex w-full text-gray-100 text-sm justify-between lg:ml-8">
        <div class="lg:w-3/12 w-full">
          <div class="text-xl font-hurmebold">
            Resources
          </div>
          <div class="mt-4">
            <div class="hover:text-gray-400 cursor-pointer">
              <a>About Find My Direct Doctor</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Review your DPC/Concierge Doctor</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Patient Resources</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Concierge Doctor Resources</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Rating</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Contact Us</a>
            </div>
          </div>
        </div>
        <div class="lg:w-3/12 lg:pl-10 w-full mt-4">
          <div class="text-xl font-hurmebold">
            Business
          </div>
          <div class="mt-4">
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Advertise with us</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Media kit</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Sponser Physician Profile</a>
            </div>
          </div>
        </div>
        <div class="lg:w-3/12 lg:pl-10 w-full mt-4">
          <div class="text-xl font-hurmebold">
            Legal
          </div>
          <div class="mt-4">
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Terms and Conditions</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Privacy Policy</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Cookie Policy</a>
            </div>
            <div class="hover:text-gray-400 cursor-pointer">
              <a>Acceptable Use Policy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:pl-10">
        <div class="mt-12 w-full">
          <div class="w-6 inline-block">
            <a href="https://www.facebook.com/Find-My-Direct-Doctor-103928951413548/" target="_blank">
              <%=image_pack_tag 'icons/facebook_white.svg', class: 'w-3'%>
            </a>
          </div>
          <div class="w-8 inline-block">
            <%=image_pack_tag 'icons/instagram_white.svg', class: 'w-6'%>
          </div>
          <div class="w-8 inline-block">
            <a href="https://www.linkedin.com/company/findmydirectdoctor/" target="_blank">
              <%=image_pack_tag 'icons/linkedin_white.svg', class: 'w-6 ml-2'%>
            </a>
          </div>
          <div class="w-8 inline-block">
            <a href="https://twitter.com/FindMyDirectDoc" target="_blank">
              <%=image_pack_tag 'icons/twitter_white.svg', class: 'w-6 ml-2'%>
            </a>
          </div>
        </div>
        <div class="my-6 flex w-full text-xs text-gray-400">
          All Rights Reserved 2020
        </div>
      </div>
    </footer>
  </div>
</section>
