<% sticky_header = (@remove_sticky_header.present?) ? "" : "fixed top-0" %>
<nav class="p-2 mt-0 w-full z-50 bg-white <%=sticky_header%>">
  <header
    class="lg:flex lg:justify-between lg:items-center lg:px-4 lg:py-3 lg:mx-16 mx-2"
    x-data="{ isOpen: false }"
    @keydown.escape="isOpen = false"
    >
    <div class="flex items-center justify-between lg:px-3 py-4 lg:p-0">
      <div>
        <a href="<%=root_url%>">
          <%= image_pack_tag "logo.png", alt: "Find my Direct Doctor", class: "h-12"%>
        </a>
      </div>
      <button id="userButton"
        type="button"
        class="block lg:hidden hover:text-doctor-yellow focus:text-doctor-yellow focus:outline-none"
        @click="isOpen = !isOpen"
        :class="{ 'transition transform-180': isOpen }"
        >
        <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
          <path x-show="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
        </svg>
      </button>
    </div>
    <div id="userMenu"
      class="px-0 lg:px-4 pt-2 pb-4 lg:flex lg:p-0 lg:items-center lg:justify-center hidden"
      :class="{ 'block shadow-2xl': isOpen, 'hidden': !isOpen }"
      @click.away="isOpen = false"
      x-show.transition="true">
      <div class="lg:flex lg:show hidden">
        <%=render partial: 'shared/menu'%>
      </div>
      <div class="lg:hidden show">
        <%=render partial: 'shared/menu_mobile'%>
      </div>
      <div class="flex justify-between">
        <div class="px-3 lg:px-0">
          <a href="<%= list_your_practice_path %>" target="_blank" class="block text-gray-800 border rounded-lg px-6 py-1 border-doctor-yellow lg:ml-4 hover:bg-doctor-yellow hover:text-gray-100 mt-3 lg:mt-0">
            List your practice
          </a>
        </div>
        <div class="px-3 lg:px-0">
          <% if user_signed_in? %>
            <div class="block border rounded-lg px-5 py-1 border-doctor-yellow lg:ml-4 hover:text-gray-100 mt-3 lg:mt-0">
              <%=render 'shared/profile_menu'%>
            </div>
          <% else %>
            <a href="<%= new_user_session_path %>" class="block text-gray-800 border rounded-lg px-6 py-1 border-doctor-yellow lg:ml-4 hover:bg-doctor-yellow hover:text-gray-100 mt-3 lg:mt-0">
              Login
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </header>
</nav>
