<%= render partial: 'home/partials/section' %>
<%= render partial: 'home/partials/section1' %>
<%= render partial: 'home/partials/section2' %>
<%= render partial: 'home/partials/section3' %>
<%= render partial: 'home/partials/section4' %>
<section>
  <div class="w-full relative z-10 -mt-24">
    <%= image_pack_tag 'yellow_circle_full.svg', class: "w-48" %>
  </div>
  <div class="w-full">
    <%= image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-16"%>
  </div>
</section>
<%= render partial: 'home/partials/section6' %>
