<%= form_with(model: [:provider, job], class: "flex w-full", data: {type: "html", action: "ajax:error->message#errorHandler ajax:success->message#success" }) do |form| %>
  <div class="flex-1 mb-6 mr-4  text-gray-600">
    <div class="bg-white border pb-16 rounded shadow p-5 w-3/4">
      <div class="w-full pt-4 ml-4">
        <div class="input-group w-3/4">
          <label class="label text-gray-600" for="job_name">Job Title<span class="text-red-700 pl-1">*</span></label>
          <%= form.text_field :title, :class => "input bg-white", :autocomplete => "off" %>
        </div>
        <div class="input-group w-3/4">
          <label class="label text-gray-600" for="job_salary">Job description<span class="text-red-700 pl-1">*</span></label>
          <%= form.text_area :description, :class => "input bg-white tinymce", :autocomplete => "off", placeholder: "" %>
        </div>
        <div class="input-group w-3/4">
          <label class="label text-gray-600" for="job_salary">Desired Skills <span class="text-red-700 pl-1">*</span></label>
          <%= form.text_field :desired_skills, :class => "input bg-white", :autocomplete => "off", placeholder: "" %>
        </div>
        <div class="input-group w-3/4">
          <label class="label text-gray-600" for="job_specialities">Speciality<span class="text-red-700 pl-1">*</span></label>
          <%= form.select(:specialities, specialities.collect {|speciality| [speciality.name, speciality.id]}, {:prompt => "Select..."}, {class: "select", :multiple => true}) %>
        </div>
        <div class="w-3/4 flex">
          <div class="w-1/2 mr-3">
            <div class="input-group">
              <label class="label text-gray-600" for="gender">Board Certification<span class="text-red-700 pl-1">*</span></label>
              <%= form.select(:board_certification,['Board Eligible', 'Board Certified', 'Either'], {:prompt => "Select..."}, {class: "select bg-white"}) %>
            </div>
          </div>
          <div class="w-1/2">
            <div class="input-group">
              <label class="label text-gray-600" for="job_salary">Experience<span class="text-red-700 pl-1">*</span></label>
              <%= form.text_field :experience, :class => "input bg-white", :autocomplete => "off", placeholder: "13 years" %>
            </div>
          </div>
        </div>
        <div class="input-group w-3/4">
          <label class="label text-gray-600" for="job_salary">Annual Salary<span class="text-red-700 pl-1">*</span></label>
          <%= form.text_area :salary, :class => "input bg-white tinymce", :autocomplete => "off", placeholder: "" %>
        </div>
        <div class="input-group w-3/4">
          <label class="label text-gray-600" for="job_salary">Sign on Bonus <span class="text-red-700 pl-1">*</span></label>
          <%= form.text_field :sign_on_bonus, :class => "input bg-white", :autocomplete => "off", placeholder: "" %>
        </div>
        <div class="input-group w-3/4">
          <label class="label text-gray-600" for="job_salary">Paid time off</label>
          <%= form.text_field :paid_time_off, :class => "input bg-white", :autocomplete => "off", placeholder: "2 weeks" %>
        </div>
        <div class="input-group w-full flex mt-3">
          <div class="w-1/3">
            <label class="label text-gray-600" for="gender">Hours<span class="text-red-700 pl-1">*</span>:</label>
          </div>
          <div class="w-2/3 flex">
            <div class="mr-2">
              <%=form.radio_button :hours, 'part_time', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">Part time</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :hours, 'full_time', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">Full time</label>
            </div>
          </div>
        </div>
        <div class="input-group w-full flex">
          <div class="w-1/3">
            <label class="label text-gray-600" for="job_salary">Loan Assistance:</label>
          </div>
          <div class="w-2/3 flex">
            <div class="mr-2">
              <%=form.radio_button :loan_assistance, 'yes', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">Yes</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :loan_assistance, 'no', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">No</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :loan_assistance, 'tbd', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">To be decided</label>
            </div>
          </div>
        </div>
        <div class="input-group w-full flex">
          <div class="w-1/3">
            <label class="label text-gray-600" for="job_salary">Health Insurance:</label>
          </div>
          <div class="w-2/3 flex">
            <div class="mr-2">
              <%=form.radio_button :health_insurence, 'yes', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">Yes</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :health_insurence, 'no', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">No</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :health_insurence, 'tbd', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">To be decided</label>
            </div>
          </div>
        </div>
        <div class="input-group w-full flex">
          <div class="w-1/3">
            <label class="label text-gray-600" for="job_salary">Medical Insurance:</label>
          </div>
          <div class="w-2/3 flex">
            <div class="mr-2">
              <%=form.radio_button :medical_insurence, 'yes', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">Yes</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :medical_insurence, 'no', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">No</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :medical_insurence, 'tbd', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">To be decided</label>
            </div>
          </div>
        </div>
        <div class="input-group w-full flex">
          <div class="w-1/3">
            <label class="label text-gray-600" for="job_salary">Visa Sponsership</label>
          </div>
          <div class="w-2/3 flex">
            <div class="mr-2">
              <%=form.radio_button :visa_sponsorship, 'yes', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">Yes</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :visa_sponsorship, 'no', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">No</label>
            </div>
            <div class="mx-2">
              <%=form.radio_button :visa_sponsorship, 'tbd', class: "form-radio h-4 w-4 focus:outline-none"%>
              <label class="pl-1">To be decided</label>
            </div>
          </div>
        </div>
        <!-- components -->
        <div class="input-group w-3/4 mt-3" data-controller="components">
          <% degree = { 'name' => nil } %>
          <template data-target="components.componentTemplate">
            <%= render "admin/jobs/partials/degree", value: degree %>
          </template>
          <%= form.label :degree, :class => "label text-gray-500" %>
          <div class="mt-2 sortable" data-target="components.components">
            <% if form.object.degree.present? %>
              <% form.object.degree.each do |degree_data| %>
                <div class="mb-3">
                  <%= render "admin/jobs/partials/degree", value: degree_data %>
                </div>
              <% end %>
            <% else %>
              <div class="mb-3">
                <%= render "admin/jobs/partials/degree", value: degree %>
              </div>
            <% end %>
          </div>
          <div class="text-sm text-primary underline text-gco">
            <label class="cursor-pointer" data-action="click->components#addComponent">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block">
                <path fillRule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clipRule="evenodd" />
              </svg>Add Degree</label>
          </div>
        </div>
        <!-- components -->
      </div>
      <div class="float-left pt-5">
        <%= form.button(type: "submit", class: "btn btn-save btn-md btn-default btn-dd-blue btn-outline text-sm font-bold float-right", data: {disable_with: "<i class='fab fa fa-spinner fa-spin pr-2'></i> Saving in..." }) do %>
          <span><i class='fab fa fa-floppy-o pr-2'></i><%=button_text%> Job</span>
        <% end %>
      </div>
      <div class="float-left pt-6 mb-4 pb-4">
        <%= form.button(type: "submit", class: "btn btn-md btn-default btn-dd-blue btn-outline text-sm font-bold float-right", data: {disable_with: "<i class='fab fa fa-spinner fa-spin pr-2'></i> Saving in..." }) do %>
          <span><i class='fab fa fa-floppy-o pr-2'></i><%=button_text%> Job</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
