<section class="lg:grid lg:w-full lg:mt-24 lg:grid-cols-12 flex mt-24">
  <div class="lg:col-span-1 w-full"></div>
  <div class="lg:col-span-10 flex px-16" data-controller="claim-profile">
    <div class="w-full mx-10">
      <div class="w-full font-glacialbold text-2xl mt-8">Profile approval request</div>
      <div class="w-full flex justify-between">
        <div class="w-6/12 max-w-xl mx-2 mt-8 text-gray-700">
          <%if !flash[:notice].blank? %>
            <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 mt-4">
              <span class="inline-block align-middle mr-8">
                <%= flash[:notice]%>
              </span>
            </div>
          <% end %>
          <div class="w-full mt-6">
            Hey <%=@claim_profile_request&.user&.full_name%>,
          </div>
          <div id="comment_list" data-target="radio-button.commentList">
            <% if @claim_profile_comments.present? %>
              <%= render partial: 'comments', locals: {claim_profile_comments:  @claim_profile_comments} %>
            <% end %>
          </div>
          <%= form_with(model: @claim_profile_request, url: claim_profile_url(@claim_profile_request), class: "w-full", method: "PATCH", data: {type: "html", action: "ajax:error->claim-profile#errorHandler ajax:success->claim-profile#success" }) do |form| %>
            <%= form.hidden_field :user_id, value: @claim_profile_request.user_id %>
            <%= form.hidden_field :doctor_id, value: @doctor&.id %>
            <%= form.hidden_field :id %>
            <div class="w-full mt-4">
              <%= form.fields_for :claim_profile_comments do |claim_profile_comment| %>
                <%= render "claim_profile_comment", form: claim_profile_comment %>
              <% end %>
            </div>
            <div class="w-full mb-12 mt-4">
              <%= form.button(type: "submit", class: "border rounded bg-doctor-yellow-500 hover:bg-doctor-yellow text-white px-2 py-1", data: {disable_with: "<i class='fab fa fa-spinner fa-spin pr-2'></i> Saving in..." }) do %>
                <span><i class='fab fa fa-floppy-o pr-2'></i>Submit</span>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if @doctor.present? %>
          <div class="w-4/12 max-w-xl mx-auto mt-8">
            <div class="w-full bg-white shadow-md mt-6 rounded">
              <div class="border-b py-3 px-3 text-lg text-gray-100 bg-gray-700 rounded-tl-lg rounded-tr-lg">
                Doctor's profile requested
              </div>
              <div class="w-full px-2 py-4 text-gray-700 border-b">
                <div class="w-full flex">
                  <div class="w-full text-md tracking-wide pl-4">
                    <div class="w-full flex">
                      <div class="text-sm font-bold w-3/12">Name:</div>
                      <div class="w-9/12">
                        <div><%=@doctor&.name%></div>
                        <div class=" text-sm"><%=@doctor&.email%></div>
                      </div>
                    </div>
                    <div class="w-full flex pt-2">
                      <div class="text-sm font-bold w-3/12">Phone:</div>
                      <div class="w-9/12"><%=@doctor&.phone%></div>
                    </div>
                    <div class="w-full flex pt-1">
                      <div class="text-sm font-bold w-3/12">Address:</div>
                      <div class="w-9/12"><%=@doctor&.full_address%></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="lg:col-span-1 relative">
    <div class="absolute right-0 mr-8">
      <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: "h-56" %>
    </div>
    <div class="right-0 absolute -mr-4 -mt-32 z-50">
      <%= image_pack_tag 'yellow_circle_outline_opacity_right.png' %>
    </div>
  </div>
</section>
<section class="lg:w-full flex mt-24">
  <div class="w-6/12 relative">
    <div class="absolute left-0 ml-20">
      <%=image_pack_tag "yellow_circle_full.svg", class: "w-10" %>
    </div>
    <div class="absolute left-0 top-0 -mt-64">
      <%=image_pack_tag "yellow_half_circle_thick.svg", class: "w-24" %>
    </div>
  </div>
  <div class="w-6/12 flex justify-end">
    <div class="absolute right-0 -mt-12 -mr-6">
      <%=image_pack_tag "yellow_circle_full.svg", class:"w-12" %>
    </div>
  </div>
</section>
