<section class="lg:grid lg:w-full lg:mt-24 lg:grid-cols-12 flex mt-32 bg-gray-200">
  <div class="lg:col-span-1 relative">
    <div class="absolute mt-32 hidden lg:block">
      <%= image_pack_tag 'grey_cross_vector.svg', class: "w-8" %>
    </div>
  </div>
  <div class="lg:col-span-10 flex mt-10 px-6 lg:px-16 mb-10">
    <div class="w-full">
      <div class=" font-glacialbold text-5xl lg:w-3/6 lg:pr-20 leading-none">
        You deserve better healthcare!
      </div>
      <p class="">
        <div class="text-xl my-4">Find your Direct Primary Care Physician or Concierge Doctor </div>
      </p>
      <div class="flex mt-4">
        <div data-controller="searches" data-action="google-maps-callback@window->searches#initPlaces" class="w-full">
          <div class="search_width md:flex border justify-between items-center pb-2 md:py-1 mb-4 rounded-lg shadow w-full lg:w-2/3 bg-white autocomplete-div" data-controller="autocomplete"  data-autocomplete-url-value="<%=global_search_url%>">
            <div class="flex justify-center items-center w-full md:border-r border-b md:border-b-0 pr-4 relative">
              <label class="ml-3 mr-5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 text-gray-600">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </label>
              <input class="md:my-2 my-3 w-full focus:outline-none" type="text" data-searches-target="name" name="speciality" placeholder="Name/Speciality" data-autocomplete-target="input" id="searchTerm">
              <ul data-autocomplete-target="results" class="autocomplete"></ul>
              <input type="hidden" name="doctor_id" data-autocomplete-target="hidden"/>
              <input type="hidden" name="search_term_type" data-searches-target="searchTermType"/>
            </div>
            <div class="flex justify-center items-center w-full pr-4 border-b md:border-b-0 location-icon">
              <svg xmlns="http://www.w3.org/2000/svg" class="ml-3 h-6 w-6 text-gray-600 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
              </svg>
              <input class="md:my-2 my-3 ml-3 w-full focus:outline-none" id="near" data-searches-target='field' type="text" name="near" placeholder="Address/City/Zip">
            </div>
            <div class="text-center mt-4 md:text-left md:mt-0">
              <button class="bg-doctor-yellow text-gray-100 md:mr-4 rounded-md px-4 py-1 w-11/12 md:w-auto" data-searches-target="search" data-action="click->searches#submitSearch">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:col-span-1 relative hidden lg:block">
    <div class="absolute right-0 mt-8 mr-8">
      <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: "h-56" %>
    </div>
    <div class="right-0 absolute -mr-4 -mt-20 z-50">
      <%= image_pack_tag 'yellow_circle_outline_opacity_right.png' %>
    </div>
  </div>
</section>
<section class="lg:grid lg:w-full lg:mt-6 lg:grid-cols-12 flex mt-6 pb-12 flex-wrap">
  <div class="lg:col-span-10 px-6 lg:px-16 lg:col-start-2 border-b pb-8">
    <%=render partial: 'practice_style/bread_crumb', locals: { practice_style: params[:practice_style] } %>
    <div class=" font-glacialbold text-xl mb-2">
      <% if params[:practice_style] == "dpc" %>
        <h1>Direct Primary Care Physicians in US</h1>
      <% else %>
        <h1 class="inline-block">Concierge Doctors in US</h1>
        by specialty
      <% end %>
    </div>
    <div class="flex flex-wrap">
      <% @style_specialties.each do |specialty| %>
        <div class="w-1/2 lg:w-3/12 pt-2">
          <a href="/<%=params[:practice_style]%>/<%=specialty.code.downcase%>" class="hover:underline hover:text-blue-400" target="_blank"><%=specialty.name%></a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="lg:col-span-10 px-6 lg:px-16 lg:col-start-2 border-b pb-8 mt-10">
    <div class=" font-glacialbold text-xl mb-2">
      Search Direct Primary Care doctors by state
    </div>
    <div class="flex flex-wrap">
      <% @states.each do |state| %>
        <div class="w-1/2 lg:w-3/12 pt-2">
          <a href="/search-map?place=<%=state.name%>" class="hover:underline hover:text-blue-400" target="_blank"><%=state.name%></a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="lg:col-span-10 px-6 lg:px-16 lg:col-start-2 mt-10">
    <div class=" font-glacialbold text-xl mb-2">
      Search Direct Primary Care doctors by city
    </div>
    <div class="flex flex-wrap">
      <% @cities.each do |city| %>
        <div class="w-1/2 lg:w-3/12 pt-2">
          <a href="/search-map?place=<%=city.name%>" class="hover:underline hover:text-blue-400" target="_blank"><%=city.name%></a>
        </div>
      <% end %>
    </div>
  </div>
</section>
<% content_for :jsond_schema do %>
  <script type="application/ld+json">
    <%= raw @breadcrumb_schema.to_json %>
  </script>
<% end %>
