<section class="lg:grid lg:w-full lg:mt-24 lg:grid-cols-12 flex mt-24">
  <div class="lg:col-span-1 w-full"></div>
  <div class="lg:col-span-10 flex px-16">
    <div class="w-full mx-10">
      <div class="w-6/12 max-w-xl mx-auto mt-10 text-gray-900 border-b">
        <div class="font-glacialbold text-heading">Sign In</div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="bg-white pt-6 pb-4 mb-4 flex flex-col">
            <div class="mb-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow-lg border rounded-2lg w-full py-3 px-5 text-gray-700 focus:outline-none", placeholder: "Your Email"%>
            </div>
            <div class="mb-3">
              <%= f.password_field :password, autocomplete: "current-password", class: "shadow-lg border border-red rounded-2lg w-full py-3 px-5 text-gray-700 mb-3 focus:outline-none", placeholder: "Password" %>
            </div>
            <div class=" pl-2 text-gray-600">
              <input type="checkbox" class="text-gray-600 border-gray-600">
              <label class="pl-2">Remember Me</label>
            </div>
            <div class="w-full flex">
              <div class="w-6/12">
                <div class="flex items-center justify-between mt-6">
                  <%= f.submit "Sign In", class: "text-gray-100 border rounded-lg px-12 py-3 border-doctor-yellow hover:bg-doctor-yellow hover:text-gray-100 bg-white cursor-pointer bg-doctor-yellow shadow-lg" %>
                </div>
              </div>
              <div class="w-6/12 flex items-end justify-end text-blue-400 underline">
                Forgot Password?
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-6/12 max-w-xl mx-auto mt-10 border-b pb-4">
        <div class="w-full flex justify-between">
          <div class="1/2 rounded-lg bg-facebook-blue px-4 py-2 text-gray-100">Sign in with facebook</div>
          <div class="1/2 rounded-lg  bg-google-red px-4 py-2 text-gray-100">Sign in with google</div>
        </div>
        <div class="w-full flex justify-between mt-4">
          <div class="1/2 rounded-lg bg-twitter-blue px-4 py-2 pr-10 text-gray-100">Sign in with twitter</div>
          <div class="1/2 rounded-lg bg-linkedin-blue px-4 py-2 text-gray-100">Sign in with linkedin</div>
        </div>
        <div class="w-full mt-6 text-xl text-center text-gray-500">
          We won't auto-post to your social network
        </div>
      </div>
      <div class="w-6/12 max-w-xl mx-auto mt-4">
        <div class="w-full text-xl text-center text-gray-500">
          Don't have an account already?
          <label class="items-end justify-end text-blue-400 underline inline-block">
            Sign Up
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:col-span-1 relative">
    <div class="absolute right-0 mr-8">
      <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: "h-56" %>
    </div>
    <div class="right-0 absolute -mr-4 -mt-32 z-50">
      <%= image_pack_tag 'yellow_circle_outline_opacity_right.png' %>
    </div>
  </div>
</section>
<section class="lg:w-full flex mt-24">
  <div class="w-6/12 relative">
    <div class="absolute left-0 ml-20">
      <%=image_pack_tag "yellow_circle_full.svg", class: "w-10" %>
    </div>
    <div class="absolute left-0 top-0 -mt-64">
      <%=image_pack_tag "yellow_half_circle_thick.svg", class: "w-24" %>
    </div>
  </div>
  <div class="w-6/12 flex justify-end">
    <div class="absolute right-0 -mt-12 -mr-6">
      <%=image_pack_tag "yellow_circle_full.svg", class:"w-12" %>
    </div>
  </div>
</section>
