<div class="lg:grid lg:w-full lg:grid-cols-12 flex">
  <div class="lg:mt-32 lg:col-span-2 relative">
    <div class="absolute mt-24">
      <%= image_pack_tag 'grey_cross_vector.svg', class: "w-8" %>
    </div>
  </div>
  <div class="lg:col-span-8 relative -ml-4 -mr-4  mt-40">
    <div class="w-full">
      <div class="w-full flex justify-between">
        <div class="-mb-8 ml-6"><%=image_pack_tag 'yellow_circle_full.svg', class: "w-20 h-20"%></div>
        <div class="flex -mb-12 -mr-3">
          <div class="flex items-end pt-8 -mr-10"><%=image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-16 h-16"%></div>
          <div><%=image_pack_tag 'light_yellow_slant.svg', class: "w-20 h-20"%></div>
        </div>
      </div>
      <div class="lg:w-full flex w-4 about-gray-background-light" >
        <div class="font-glacialbold text-2xl px-24 h-40 text-center tracking-normal flex items-center">
          <div class="px-4">
            Direct patient care models are leading the movement towards <br>
            better health care - this is what we do at
            <span class="text-doctor-yellow">FindMyDirectDoctor.com</span>
          </div>
        </div>
      </div>
      <div class="w-full flex -mt-24 -ml-24">
        <div><%=image_pack_tag 'light_yellow_slant.svg', class: "w-48 h-48"%></div>
        <div class="flex items-end -ml-16"><%=image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-16 h-16"%></div>
      </div>
    </div>
  </div>
  <div class="lg:mt-32 lg:col-span-2 relative">
    <div class="absolute right-0 -mt-16 mr-8">
      <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: "h-56" %>
    </div>
    <div class="right-0 absolute -mr-4 -mt-32 z-50">
      <%= image_pack_tag 'yellow_circle_outline_opacity_right.png', class: "w-24 h-64" %>
    </div>
  </div>
</div>
<div class="lg:grid lg:w-full lg:grid-cols-12 flex mt-32 text-gray-800">
  <div class="lg:col-span-2">
  </div>
  <div class="lg:col-span-9 -ml-6">
    <div class="w-full">
      <div class="w-full font-glacialbold text-heading">
        About FindMyDirectDoctor:
        <div class="border-t-2 border-doctor-yellow-500 mt-2 w-4/12"></div>
      </div>
      <div class="lg:w-full mt-16">
        <div class="about-background-1">
          <div class="w-full pl-12 pt-4 pr-4">
            <div class="font-glacialbold text-3xl">Increase direct care awareness among patients:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  FindMyDirectDoctor is a physician-owned platform designed to exponentially grow direct patient care model
                  [<span class=" text-blue-500 underline">Direct Primary Care(DPC)</span> and <span class=" text-blue-500 underline">Concierge Medicine</span>]awareness amoung patients.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-16">
        <div class="about-background-2">
          <div class="w-full pl-12 pt-4 pr-4">
            <div class="font-glacialbold text-3xl">Connect patients to direct care doctors:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  We aim to create a through and up-to-date <span class="font-glacialitalic border-b border-gray-600">directory</span> of all the Direct Primary Care and Concierge Doctors in the US as online listings on FindMyDirectDoctor.com website.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  Patients will thereby be able to access and assess al the Direct Primary Care and Concierge Medicine providers under one roof.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  FindMyDirectDoctor thrives on improving the health and wellbeing of patients by <span class="font-glacialitalic  border-b border-gray-600">connrecting</span> them with their best suited Direct Primary Care and Concierge Doctors via our online Directory.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-16">
        <div class="about-background-3">
          <div class="w-full pl-12 pt-4 pr-4">
            <div class="font-glacialbold text-3xl">Connect patients to direct care doctors:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  We aim to create a through and up-to-date <span class="font-glacialitalic border-b border-gray-600">directory</span> of all the Direct Primary Care and Concierge Doctors in the US as online listings on FindMyDirectDoctor.com website.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  Patients will thereby be able to access and assess al the Direct Primary Care and Concierge Medicine providers under one roof.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  FindMyDirectDoctor thrives on improving the health and wellbeing of patients by <span class="font-glacialitalic  border-b border-gray-600">connrecting</span> them with their best suited Direct Primary Care and Concierge Doctors via our online Directory.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:col-span-1">
  </div>
</div>
