<div class="lg:grid lg:grid-cols-12 flex">
  <div class="lg:mt-32 lg:col-span-2 relative">
    <div class="absolute mt-24">
      <%= image_pack_tag 'grey_cross_vector.svg', class: "w-8" %>
    </div>
  </div>
  <div class="lg:col-span-8 relative -ml-4 -mr-4  mt-40">
    <div class="w-full">
      <div class="w-full flex justify-between">
        <div class="-mb-8 ml-6"><%=image_pack_tag 'yellow_circle_full.svg', class: "w-20 h-20"%></div>
        <div class="flex -mb-12 -mr-3">
          <div class="flex items-end pt-8 -mr-10"><%=image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-16 h-16"%></div>
          <div><%=image_pack_tag 'light_yellow_slant.svg', class: "w-20 h-20"%></div>
        </div>
      </div>
      <div class="lg:w-full flex md:w-4 justify-center about-gray-background-light" >
        <div class="font-glacialbold text-2xl md:px-24 h-40 text-center tracking-normal flex items-center">
          <div class="px-4">
            Direct patient care models are leading the movement towards <br>
            better health care - this is what we do at
            <span class="text-doctor-yellow">FindMyDirectDoctor.com</span>
          </div>
        </div>
      </div>
      <div class="w-full flex -mt-24 -ml-24">
        <div><%=image_pack_tag 'light_yellow_slant.svg', class: "w-48 h-48"%></div>
        <div class="flex items-end -ml-16"><%=image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-16 h-16"%></div>
      </div>
    </div>
  </div>
  <div class="lg:mt-32 lg:col-span-2 relative">
    <div class="absolute right-0 -mt-16 mr-8">
      <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: "h-56" %>
    </div>
    <div class="right-0 absolute -mr-4 -mt-32 z-50">
      <%= image_pack_tag 'yellow_circle_outline_opacity_right.png', class: "w-24 h-64" %>
    </div>
  </div>
</div>
<div class="lg:grid lg:grid-cols-12 flex md:mt-32 mt-10 text-gray-800">
  <div class="lg:col-span-2 mt-64">
    <%=image_pack_tag 'light_grey_3_lines_horizontal.svg'%>
  </div>
  <div class="lg:col-span-9 -ml-6 p-5">
    <div class="w-full">
      <div class="w-full font-glacialbold text-heading">
        About FindMyDirectDoctor:
        <div class="border-t-2 border-doctor-yellow-500 mt-2 w-4/12"></div>
      </div>
      <div class="lg:w-full mt-16">
        <div class="about-background-1">
          <div class="w-full pl-12 pt-4 pr-4">
            <div class="font-glacialbold text-3xl">Increase direct care awareness among patients:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  FindMyDirectDoctor is a physician-owned platform designed to exponentially grow direct patient care model
                  [<span class=" text-blue-500 underline">Direct Primary Care(DPC)</span> and <span class=" text-blue-500 underline">Concierge Medicine</span>] awareness among patients.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-12">
        <div class="about-background-1">
          <div class="w-full pl-12 pt-4 pr-4">
            <div class="font-glacialbold text-3xl">Connect patients to direct care doctors:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  We aim to create a thorough and up-to-date <span class="font-glacialitalic border-b border-gray-600">directory</span> of all the Direct Primary Care and Concierge Doctors in the US as online listings on FindMyDirectDoctor.com website.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  Patients will thereby be able to access and assess all the Direct Primary Care and Concierge Medicine providers under one roof.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  FindMyDirectDoctor thrives on improving the health and well-being of patients by <span class="font-glacialitalic  border-b border-gray-600">connecting</span> them with their best-suited Direct Primary Care and Concierge doctors via our online directory.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-12">
        <div class="about-background-1">
          <div class="w-full pl-12 pt-4 pr-4">
            <div class="font-glacialbold text-3xl">Largest online directory of direct care doctors:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  We are the largest online directory listing website of Direct Primary Care (DPC) and Concierge Medicine doctors in the United States.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  We understand that every patient has a different set of health care needs and we firmly believe that primary care is meant to make you feel secure, taken care of, and at ease.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  With Direct Primary Care and Concierge Medicine, you are not just another number waiting to be called at the doctor's office.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-12">
        <div class="about-background-1">
          <div class="w-full pl-12 pt-4 pr-5">
            <div class="font-glacialbold text-3xl">Physician-owned & operated:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  Founded by a medical professional who is a staunch advocate and loyal ally of Direct Primary Care and Concierge Medicine, FindMyDirectDoctor.com is owned and operated by Harsha Moole, MD, a physician-scientist, entrepreneur, investor, and author / prinicipal investigator of more than a hundred peer-reviewed research articles published in NEJM, US Department of Health, and NHS, among others.
                </div>
              </div>
              <div class="flex mt-2 pb-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  We are confident that no-frills, direct patient care is the best alternative (and solution) to insurance-based, fee-for-service health care.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-12">
        <div class="about-background-1">
          <div class="w-full pl-12 pt-4 pr-4">
            <div class="font-glacialbold text-3xl">Join us:</div>
            <div class="pt-2 text-xl pb-6">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div>
                  Join the movement for better health care and visit
                  <span class=" text-blue-500 underline">www.findmydirectdoctor.com</span> to see a Direct Primary Care/Concierge Medicine doctor near you today.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:col-span-1">
    <div class="w-full relative">
      <div class="absolute right-0"><%=image_pack_tag 'yellow_circle_small.svg'%></div>
      <div class="absolute right-0"><%=image_pack_tag 'off_white_half_full_circle.svg', class: "w-24"%></div>
    </div>
  </div>
</div>
<div class="lg:grid lg:grid-cols-12 flex md:mt-64 mt-10 text-gray-800 p-5">
  <div class="lg:col-span-3 relative">
    <div class="w-full relative -mt-40">
      <div class=" absolute top-0 ml-40"><%=image_pack_tag 'yellow_circle_full.svg', class: 'w-12 h-12'%></div>
      <div class=" absolute top-0"><%=image_pack_tag 'yellow_half_circle_thick.svg', style: "height: 26rem;"%></div>
    </div>
  </div>
  <div class="lg:col-span-7">
    <div>
      <h1 class="text-2xl mt-1">Find your Direct Primary Care Physician or Concierge Doctor</h1>
    </div>
    <div class="md:flex border rounded-lg mt-2 shadow justify-between items-center pb-2 md:py-2" data-controller="search">
      <div class="flex justify-center items-center w-full md:border-r border-b md:border-b-0 pr-4">
        <label class="ml-3 mr-5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 text-gray-600">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
          </svg>
        </label>
        <input class="md:my-2 my-3 w-full focus:outline-none text-xl" type="text" data-search-target="name" name="speciality" placeholder="Name/Speciality">
      </div>
      <div class="flex justify-center items-center w-full pr-4 border-b md:border-b-0">
        <input class="md:my-2 my-3 ml-3 w-full focus:outline-none text-xl" id="near" data-search-target='near' type="text" name="near" placeholder="Zip/City/State">
      </div>
      <div class="text-center mt-4 md:text-left md:mt-0">
        <button class="bg-doctor-yellow text-gray-100 md:mr-4 rounded-md px-12 py-2 w-11/12 md:w-auto text-xl">Search</button>
      </div>
    </div>
  </div>
  <div class="lg:col-span-2">
    <div class="relative">
      <div class="absolute right-0 top-0 -mt-48"><%=image_pack_tag 'off_white_circle_full.svg', class:"w-64 h-64"%></div>
      <div class="absolute right-0"><%=image_pack_tag 'yellow_circle_full.svg', class: "w-8 h-8"%></div>
    </div>
  </div>
</div>
<div class="lg:grid lg:grid-cols-12 flex md:mt-48 mt-10 text-gray-800">
  <div class="lg:col-span-2 mt-64 relative flex items-center">
    <div class="absolute left-0">
      <%=image_pack_tag 'yellow_half_circle_thick.svg'%>
    </div>
  </div>
  <div class="lg:col-span-10 -ml-8 flex">
    <div class="lg:w-10/12 p-5">
      <div class="w-full font-glacialbold text-heading">
        Mission & Vision:
        <div class="border-t-2 border-doctor-yellow-500 mt-2 w-2/12"></div>
      </div>
      <div class="lg:w-full mt-16 flex relative">
        <div class="z-40 absolute"><%=image_pack_tag 'mission_icon_1.svg', class: 'w-40'%></div>
        <div class="mission-background-1 ml-24">
          <div class="w-full pl-10 md:pl-20 pt-8 pr-5">
            <div class="font-glacialbold text-2xl">AWARENESS & EDUCATION:</div>
            <div class="pt-2 text-xl pr-2">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5">
                  To exponentially increase the awareness about Direct Primary Care and Concierge Medicine among patients.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5">
                  Educate patients about the benefits and long-term health implications of this relatively new style of practice.
                </div>
              </div>
              <div class="flex mt-3">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5">
                  We plan to achieve this by:
                  <div class=" w-full mt-1">
                    <div class="pl-4"><span class="pr-2 text-doctor-yellow font-glacialbold">1.</span>Publishing high-value educational content on our website, readily available for patients.</div>
                    <div class="pl-4 mt-2 flex">
                      <span class="pr-2 text-doctor-yellow font-glacialbold">2.</span>
                      <div class="pb-4">Sharing educational content by interacting with patients on online and off line
                        forums / meetings / seminars / conferences; in group settings and one-to-one settings.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-16 flex relative">
        <div class="z-40 absolute"><%=image_pack_tag 'mission_icon_2.svg', class: 'w-40'%></div>
        <div class="mission-background-1 ml-24">
          <div class="w-full pl-10 md:pl-20 pt-8 pr-5 pb-4">
            <div class="font-glacialbold text-2xl">ACCURATE DIRECT CARE DOCTOR DIRECTORY:</div>
            <div class="pt-2 text-xl pr-2">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5">
                  To create a thorough directory of all the Direct Primary Care and Concierge Doctor in the US, explaining their practice, pricing, value, along with patient reviews.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5">
                  We aim to keep our online listings accurate, up-to-date, and user-friendly for patients.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-16 flex relative">
        <div class="z-40 absolute"><%=image_pack_tag 'mission_icon_3.svg', class: 'w-40'%></div>
        <div class="mission-background-1 ml-24">
          <div class="w-full pl-10 md:pl-20 pt-8 pr-5 pb-4">
            <div class="font-glacialbold text-2xl">CONNECT PATIENTS WITH DIRECT CARE DOCTORS:</div>
            <div class="pt-2 text-xl pr-2">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5">
                  To connect patients with their best suited Direct Primary Care / Concierge doctors on our user-friendly online directory of Direct Primary Care / Concierge physician listings.
                </div>
              </div>
              <div class="flex mt-2">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5">
                  We aim to be Google or Yelp type of search engine for patients to find physicians that are providing direct care.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-16 flex relative">
        <div class="z-40 absolute"><%=image_pack_tag 'mission_icon_4.svg', class: 'w-40'%></div>
        <div class="mission-background-1 ml-24">
          <div class="w-full pl-10 md:pl-20 pt-8 pr-5 pb-4">
            <div class="font-glacialbold text-2xl">BENEFITS OF DPC / CONCIERGE MEDICINE:</div>
            <div class="pt-2 text-xl pr-2">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5 pr-4">
                  To assist patients in realizing the hidden benifits of Direct Primary Care/Concierge Medicine; thereby, increasing the number of patients who could utilize these boutique medical services.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-16 flex relative">
        <div class="z-40 absolute"><%=image_pack_tag 'mission_icon_5.svg', class: 'w-40'%></div>
        <div class="mission-background-1 ml-24">
          <div class="w-full pl-10 md:pl-20 pt-8 pr-5 pb-4">
            <div class="font-glacialbold text-2xl">PROMOTE PATIENT HEALTH & WELL-BEING:</div>
            <div class="pt-2 text-xl pr-2">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5 pr-4">
                  Improve health and wellness of patients by promoting medical practices that focus on patient-centered approach, disease prevention, improving quality of life, shared decision making, and patient longevity.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-full mt-16 flex relative">
        <div class="z-40 absolute"><%=image_pack_tag 'mission_icon_6.svg', class: 'w-40'%></div>
        <div class="mission-background-1 ml-24">
          <div class="w-full pl-10 md:pl-20 pt-8 pr-5 pb-4">
            <div class="font-glacialbold text-2xl">JOB LISTING BOARD FOR DIRECT CARE DOCTORS:</div>
            <div class="pt-2 text-xl pr-2">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5 pr-4">
                  Create a job listing board for Direct Primary Care/ Concierge physician and practices.
                </div>
              </div>
            </div>
            <div class="pt-2 text-xl pr-2">
              <div class="flex">
                <div class="pr-6 pt-2 flex justify-start">
                  <svg class="h-3 w-3 text-doctor-yellow" viewBox="0 0 8 8" fill="currentColor">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                </div>
                <div class="text-heading5 pr-4">
                  Create a networking platform for all direct care providers and vendors serving the direct patient care industry.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-2/12 mt-64 hidden lg:block">
      <div class="w-full relative">
        <div class="absolute right-0  row-span-3">
          <%=image_pack_tag 'light_yellow_edge.png'%>
          <div class="absolute bottom-0 right-0 -mb-56"><%=image_pack_tag 'yellow_circle_big_shadow.svg', class:"w-12 h-12"%></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lg:grid lg:grid-cols-12 flex mt-48 text-gray-800">
  <div class="lg:col-span-6 relative flex items-center -mb-6 -mt-12">
    <div class="absolute left-0">
      <%=image_pack_tag 'yellow_circle_outline_opacity.svg'%>
    </div>
    <div><%=image_pack_tag 'light_grey_3_lines_horizontal.svg'%></div>
  </div>
  <div class="lg:col-span-6 relative">
    <div class="absolute right-0">
      <%=image_pack_tag 'yellow_circle_full.svg', class: "w-12 h-12"%>
    </div>
  </div>
</div>
