<section class="border-r relative w-1/6">
  <nav class="pt-6">
    <% menu_classes = admin_menu_classes(controller: "profiles") %>
    <a href="<%=edit_provider_profile_url(current_user&.doctor&.id)%>" class="flex items-center pl-2">
      <div class="<%=menu_classes[:active_class]%> flex pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fill-current h-5 text-gray-500">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-md">My Profile</span>
      </div>
    </a>
    <% menu_classes = admin_menu_classes(controller: "jobs") %>
    <a href="<%=provider_jobs_url%>" class="flex items-center mt-3 pl-2 relative pt-2">
      <div class="<%=menu_classes[:active_class]%> flex pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-5 text-gray-500"><path d="M16 2h4v15a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V0h16v2zm0 2v13a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4h-2zM2 2v15a1 1 0 0 0 1 1h11.17a2.98 2.98 0 0 1-.17-1V2H2zm2 8h8v2H4v-2zm0 4h8v2H4v-2zM4 4h8v4H4V4z"/></svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Jobs</span>
      </div>
    </a>
    <% menu_classes = admin_menu_classes(controller: "testimonials") %>
    <a href="<%=provider_testimonials_url%>" class="flex items-center mt-3 pl-2 relative pt-2">
      <div class="<%=menu_classes[:active_class]%> flex pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-5 text-gray-500"><path d="M16 2h4v15a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V0h16v2zm0 2v13a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4h-2zM2 2v15a1 1 0 0 0 1 1h11.17a2.98 2.98 0 0 1-.17-1V2H2zm2 8h8v2H4v-2zm0 4h8v2H4v-2zM4 4h8v4H4V4z"/></svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Testimonials</span>
      </div>
    </a>
  </nav>
  <div class="absolute bottom-0 items-center mb-5 pl-4">
    <div>
      <a href="<%=social_connects_url%>" class="flex">
        <% menu_classes = admin_menu_classes(path: "/social_connects") %>
        <div class="flex <%=menu_classes[:active_class]%>">
          <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-5 text-gray-500" viewBox="0 0 20 20"><path d="M9.26 13a2 2 0 0 1 .01-2.01A3 3 0 0 0 9 5H5a3 3 0 0 0 0 6h.08a6.06 6.06 0 0 0 0 2H5A5 5 0 0 1 5 3h4a5 5 0 0 1 .26 10zm1.48-6a2 2 0 0 1-.01 2.01A3 3 0 0 0 11 15h4a3 3 0 0 0 0-6h-.08a6.06 6.06 0 0 0 0-2H15a5 5 0 0 1 0 10h-4a5 5 0 0 1-.26-10z"/></svg>
          <span class="font-medium leading-tight pl-2 text-gray-700 text-sm">Social Connects</span>
        </div>
      </a>
    </div>
    <div class="mt-4">
      <a href="<%=edit_users_profile_url%>" class="flex">
        <% menu_classes = admin_menu_classes(path: "/users/profile/edit") %>
        <div class="flex <%=menu_classes[:active_class]%>">
          <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-5 text-gray-500" viewBox="0 0 20 20"><path d="M12.26 11.74L10 14H8v2H6v2l-2 2H0v-4l8.26-8.26a6 6 0 1 1 4 4zm4.86-4.62A3 3 0 0 0 15 2a3 3 0 0 0-2.12.88l4.24 4.24z"/></svg>
          <span class="font-medium leading-tight pl-2 text-gray-700 text-sm">Change Password</span>
        </div>
      </a>
    </div>
    <div class="flex mt-4">
      <a href="<%=destroy_user_session_path%>" class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-5 text-gray-500" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.16 4.16l1.42 1.42A6.99 6.99 0 0 0 10 18a7 7 0 0 0 4.42-12.42l1.42-1.42a9 9 0 1 1-11.69 0zM9 0h2v8H9V0z"/></svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-sm">Sign out</span>
      </a>
    </div>
  </div>
</section>
