<div class="w-full flex">
  <div class="w-1/2">
    <div class="input-group">
      <%= form.label :email, :class => "label text-gray-500" %>
      <%= form.text_field :email, :class => "input bg-white", :autocomplete => "off" %>
    </div>
  </div>
  <div class="w-1/2 ml-2">
    <div class="input-group">
      <%= form.label :phone, :class => "label text-gray-500" %>
      <%= form.text_field :phone, :class => "input bg-white", :autocomplete => "off" %>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="input-group">
    <%= form.label :address_lane, :class => "label text-gray-500" %>
    <%= form.text_field :address_line_1, :class => "input bg-white", :autocomplete => "off" %>
  </div>
</div>
<div class="w-full flex">
  <div class="w-1/3">
    <div class="input-group">
      <%= form.label :state, :class => "label text-gray-500" %>
      <%= form.text_field :state, :class => "input bg-white", :autocomplete => "off" %>
    </div>
  </div>
  <div class="w-1/3 ml-2">
    <div class="input-group">
      <%= form.label :city, :class => "label text-gray-500" %>
      <%= form.text_field :city, :class => "input bg-white", :autocomplete => "off" %>
    </div>
  </div>
  <div class="w-1/3 ml-2">
    <div class="input-group">
      <%= form.label :zip_code, :class => "label text-gray-500" %>
      <%= form.text_field :zipcode, :class => "input bg-white", :autocomplete => "off" %>
    </div>
  </div>
</div>
<div class="w-full flex">
  <div class="w-1/2">
    <div class="input-group">
      <%= form.label :fax, :class => "label text-gray-500" %>
      <%= form.text_field :fax, :class => "input bg-white", :autocomplete => "off" %>
    </div>
  </div>
  <div class="w-1/2 ml-2">
    <div class="input-group">
      <%= form.label :webiste_url, :class => "label text-gray-500" %>
      <%= form.text_field :website_url, :class => "input bg-white", :autocomplete => "off" %>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="input-group">
    <%= form.label :social_profiles, :class => "label text-gray-500" %>
    <%= form.text_field :social_profiles, :class => "input bg-white", :autocomplete => "off" %>
  </div>
</div>
<!-- -->
<div class="w-full flex">
  <div class="w-1/2"></div>
  <div class="w-1/2 ml-2"></div>
</div>
<!-- -->
