<div class="w-full">
  <div class="input-group">
    <%= form.label :education, :class => "label text-gray-500" %>
    <%= form.text_field :education, :class => "input bg-white", :autocomplete => "off" %>
  </div>
</div>
<div class="w-full">
  <div class="input-group">
    <%= form.label :certifications, :class => "label text-gray-500" %>
    <%= form.text_field :certifications, :class => "input bg-white", :autocomplete => "off" %>
  </div>
</div>
<div class="w-full">
  <div class="input-group">
    <%= form.label :achievements, :class => "label text-gray-500" %>
    <%= form.text_field :achievements, :class => "input bg-white", :autocomplete => "off" %>
  </div>
</div>
