<div class="w-full flex mt-4">
  <div class="w-1/3">
    <div class="text-gray-600 text-md font-bold">Education</div>
    <p class="text-gray-600 text-sm"> About education </p>
  </div>
  <div class="w-2/3" data-controller="credential-components">
    <!-- components -->
    <% education = { 'name' => nil } %>
    <template data-target="credential-components.componentTemplate">
      <%= render "admin/doctors/partials/education", value: education %>
    </template>
    <div class="input-group">
      <%= form.label :education, :class => "label text-gray-500" %>
      <div class="mt-2 sortable" data-target="credential-components.components">
        <% if form.object.education.present? %>
          <% form.object.education.each do |education_data| %>
            <div class="mb-3">
              <%= render "admin/doctors/partials/education", value: education_data %>
            </div>
          <% end %>
        <% else %>
          <div class="mb-3">
            <%= render "admin/doctors/partials/education", value: education %>
          </div>
        <% end %>
      </div>
      <div class="text-sm text-primary underline text-gco">
        <label class="cursor-pointer" data-action="click->credential-components#addComponent">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block">
            <path fillRule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clipRule="evenodd" />
          </svg>Add Education Profile</label>
      </div>
    </div>
    <!-- components -->
  </div>
</div>
<div class="w-full flex mt-4 border-t border-doctor-blue">
  <div class="w-full flex mt-4">
    <div class="w-1/3">
      <div class="text-gray-600 text-md font-bold">Certifications</div>
      <p class="text-gray-600 text-sm"> About Certifications </p>
    </div>
    <div class="w-2/3" data-controller="credential-components">
      <!-- components -->
      <% certification = { 'name' => nil } %>
      <template data-target="credential-components.componentTemplate">
        <%= render "admin/doctors/partials/certification", value: certification %>
      </template>
      <div class="input-group">
        <%= form.label :certification, :class => "label text-gray-500" %>
        <div class="mt-2 sortable" data-target="credential-components.components">
          <% if form.object.certifications.present? %>
            <% form.object.certifications.each do |certification| %>
              <div class="mb-3">
                <%= render "admin/doctors/partials/certification", value: certification %>
              </div>
            <% end %>
          <% else %>
            <div class="mb-3">
              <%= render "admin/doctors/partials/certification", value: certification %>
            </div>
          <% end %>
        </div>
        <div class="text-sm text-primary underline text-gco">
          <label class="cursor-pointer" data-action="click->credential-components#addComponent">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block">
              <path fillRule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clipRule="evenodd" />
            </svg>Add Certification</label>
        </div>
      </div>
      <!-- components -->
    </div>
  </div>
</div>
<div class="w-full flex mt-4 border-t border-doctor-blue">
  <div class="w-full flex mt-4">
    <div class="w-1/3">
      <div class="text-gray-600 text-md font-bold">Achievements</div>
      <p class="text-gray-600 text-sm"> About achievements </p>
    </div>
    <div class="w-2/3" data-controller="credential-components">
      <!-- components -->
      <% achievement = { 'name' => nil } %>
      <template data-target="credential-components.componentTemplate">
        <%= render "admin/doctors/partials/achievement", value: achievement %>
      </template>
      <div class="input-group">
        <%= form.label :achievements, :class => "label text-gray-500" %>
        <div class="mt-2 sortable" data-target="credential-components.components">
          <% if form.object.achievements.present? %>
            <% form.object.achievements.each do |achievement| %>
              <div class="mb-3">
                <%= render "admin/doctors/partials/achievement", value: achievement %>
              </div>
            <% end %>
          <% else %>
            <div class="mb-3">
              <%= render "admin/doctors/partials/achievement", value: achievement %>
            </div>
          <% end %>
        </div>
        <div class="text-sm text-primary underline text-gco">
          <label class="cursor-pointer" data-action="click->credential-components#addComponent">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block">
              <path fillRule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clipRule="evenodd" />
            </svg>Add Achievement</label>
        </div>
      </div>
      <!-- components -->
    </div>
  </div>
</div>
<% if form_type == 'provider' %>
  <div class="float-right pt-5 my-4">
    <a href="<%=next_page_url%>" class="btn btn-md btn-default btn-dd-blue btn-outline text-sm font-bold float-left">
      Next page
    </a>
  </div>
<% end %>
