<% @remove_sticky_header = true %>
<% if @doctor.present? %>
  <div class="lg:grid lg:w-full lg:grid-cols-12 flex" data-controller="doctor tab-scroll">
    <div class="lg:mt-32 lg:col-span-1 hidden md:block">
    </div>
    <div class="w-full lg:col-span-10 mt-4 relative md:-ml-4 md:-mr-4 px-4 md:px-0">
      <div class="w-full">
        <!-- component -->
        <%=render partial: 'doctors/profile/breadcrumb', locals: { doctor: @doctor}%>
        <div class="w-full lg:flex mt-10 w-4" itemprop="mainEntity" itemscope itemtype="http://schema.org/Physician">
          <div class="lg:w-4/12 md:mr-8">
            <%=render partial: 'doctors/profile/doctor_card', locals: { doctor: @doctor, reviews: @reviews }%>
          </div>
          <div class="lg:w-8/12">
            <%=render partial: 'doctors/profile/left_bubble_design'%>
            <%=render partial: 'doctors/profile/tabs'%>
            <div class="w-full text-gray-800">
              <%=render partial: 'doctors/profile/practice', locals: { doctor: @doctor }%>
              <%=render partial: 'doctors/profile/contact', locals: { doctor: @doctor }%>
              <%=render partial: 'doctors/profile/credentials', locals: { doctor: @doctor }%>
              <%=render partial: 'doctors/profile/background', locals: { doctor: @doctor }%>
              <%=render partial: 'doctors/profile/reviews', locals: { doctor: @doctor, reviews: @reviews }%>
              <%=render partial: 'doctors/profile/fdd_score', locals: { doctor: @doctor }%>
              <%=render partial: 'doctors/profile/testimonial', locals: { doctor: @doctor }%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:mt-32 lg:col-span-1 hidden md:block">
    </div>
  </div>
  <%=render partial: 'doctors/sponsored_list'%>
  <%=render partial: 'doctors/profile/right_bubble_design'%>
<% end %>
