<div class="w-full shadow rounded-lg border border-gray-300 mt-4 section-position" id="credentials">
  <div class="text-lg font-glacialbold tracking-wide pl-4 pt-3">
    Credentials
  </div>
  <div class="py-3 pl-4 w-full ">
    <div class="absolute left-0 -ml-24 z-50 mt-20">
      <%=image_pack_tag "yellow_half_circle_thick.svg", class: "w-24" %>
    </div>
    <div class="absolute left-0 -ml-12 mt-12">
      <%=image_pack_tag "yellow_circle_big_shadow.svg", class: "w-16" %>
    </div>
    <div class="w-full flex">
      <div class="w-1/3 text-right text-gray-600 text-sm">
        Education:
      </div>
      <div class="w-2/3 relative ml-8">
        <% if doctor&.education.present? && doctor&.education&.first['name'] != "" %>
          <div class="border-r border-gray-800 absolute h-full top-0 mt-2" style="left: 5px"></div>
          <ul class="list-none m-0 p-0">
            <% @index = 1 %>
            <% doctor&.education.each do |education| %>
              <% if education['year'].present? %>
                <% margin = (@index == 1) ? 'mb-2' : 'mt-5' %>
                <li class="<%=margin%>">
                  <div class="flex items-center mb-1">
                    <div class="bg-gray-800 rounded-full h-3 w-3"></div>
                    <div class="flex-1 ml-4 font-medium"><%=education['year']%> <%=education['name']%></div>
                  </div>
                </li>
                <% @index += 1 %>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <div class=" text-sm">NA</div>
        <% end %>
      </div>
    </div>
    <div class="w-full flex mt-6">
      <div class="w-1/3 text-right text-gray-600 text-sm">
        Certification:
      </div>
      <div class="w-2/3 ml-8">
        <% if doctor&.certifications.present? && doctor&.certifications&.first['name'] != '' %>
          <% doctor&.certifications.each do |certification| %>
            <div><%=certification['year']%> - <%=certification['name']%></div>
          <% end %>
        <% else %>
          <div class=" text-sm">NA</div>
        <% end %>
      </div>
    </div>
    <div class="w-full flex mt-6">
      <div class="w-1/3 text-right text-gray-600 text-sm">
        Achievements:
      </div>
      <div class="w-2/3 ml-8">
        <% if doctor&.achievements.present? && doctor&.achievements&.first['name'] != '' %>
          <% doctor&.achievements.each do |achievement| %>
            <div class="mb-2"><%=achievement['year']%> - <%=achievement['name']%></div>
          <% end %>
        <% else %>
          <div class=" text-sm">NA</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
