<div class="w-full sticky top-0 z-50 bg-white rounded-lg">
  <div class="w-full flex " data-controller="modal">
    <div class="w-1/2 bg-doctor-gray-100 rounded-2lg overflow-hidden">
      <%= image_pack_tag "doctor_default.svg", class: "w-48 ", itemprop: "image" %>
    </div>
    <div class="w-1/2 ml-4">
      <span>
        <link itemprop="url" href="<%="#{request.base_url}/#{doctor&.profile_url}"%>" />
        <link itemprop="mainEntityOfPage" href="<%="#{request.base_url}/#{doctor&.profile_url}"%>" />
        <h1 class="text-2xl font-glacialbold" itemprop="name"><%=doctor&.name%></h1>
      </span>
      <div class="w-full flex">
        <%= render(StarRatingComponent.new(rating: doctor.avg_rating, class: 'doc-rating', width: '5', height: '5')) %>
        <div class=" text-xs ml-2">
          <a href="#" class="text-blue-500"> (<%=reviews.count%> Reviews)</a>
        </div>
      </div>
      <div class="w-full text-base py-1 text-gray-700">
        FMDD Score: <%=doctor.fmdd_score%>/10
      </div>
      <div class="w-full flex">
        <div class="">
          <a href="#" class="flex items-center justify-center">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 642.000000 533.000000" preserveAspectRatio="xMidYMid meet" fill="currentColor" class="text-gray-600 hover:text-green-500 transition duration-300 transform hover:scale-125" stroke="none">
              <g transform="translate(0.000000,533.000000) scale(0.100000,-0.100000)">
                <path d="M1790 5103 c-86 -10 -290 -57 -378 -88 -225 -78 -399 -176 -592 -329
                        -214 -171 -363 -361 -489 -620 -120 -247 -170 -459 -178 -756 -13 -458 94
                        -802 383 -1231 408 -607 846 -1051 1406 -1427 294 -197 587 -340 953 -465
                        l150 -51 185 1 185 1 150 50 c571 191 1043 474 1540 923 312 282 709 766 920
                        1124 105 179 203 431 243 630 60 292 55 616 -13 885 -134 536 -567 1016 -1113
                        1236 -206 83 -428 124 -679 124 -440 0 -794 -119 -1185 -400 l-48 -34 -32 24
                        c-285 210 -604 343 -950 395 -90 14 -364 18 -458 8z m435 -367 c316 -49 581
                        -179 835 -411 93 -85 129 -105 190 -105 63 0 104 23 193 107 181 173 367 287
                        582 357 144 47 212 58 405 63 163 5 200 3 298 -16 319 -61 603 -222 838 -474
                        90 -97 149 -184 215 -315 57 -113 80 -180 111 -317 20 -86 23 -129 23 -310 0
                        -183 -3 -225 -24 -325 -52 -249 -146 -469 -298 -693 -461 -680 -1032 -1202
                        -1663 -1517 -268 -134 -550 -238 -672 -247 -72 -6 -156 12 -318 69 -505 177
                        -1016 506 -1434 923 -430 428 -803 957 -909 1290 -99 308 -99 657 0 945 35
                        102 120 270 181 355 215 305 562 533 927 610 132 28 375 33 520 11z"></path>
              </g>
            </svg>
          </a>
        </div>
        <div class=" ml-2 " data-action="click->modal#modalOpen" >
          <a class="flex items-center justify-center cursor-pointer" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-gray-700 hover:text-green-500 transition duration-300 transform hover:scale-125" data-modal="share_modal">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"></path>
            </svg>
          </a>
          <%=render partial: 'doctors/share_modal'%>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full text-base bg-doctor-gray-100 mt-5 py-4 rounded-tl-2lg rounded-br-2lg">
    <div class="flex items-center justify-center text-gray-800">
      Are you doctor John Doe?
    </div>
    <div class=" flex items-center justify-center">
      <a href="#" class=" text-blue-500 hover:underline"> Claim Your Profile </a>
    </div>
  </div>
</div>
