<section class="">
  <div class="lg:grid lg:w-full grid-cols-12">
    <div class="col-span-1 relative">
      <div class="absolute left-0 -mt-16 ml-10">
        <%=image_pack_tag "yellow_circle_full.svg", class: "w-4" %>
      </div>
      <div class="absolute left-0 -mt-12">
        <%=image_pack_tag "yellow_half_circle_thick.svg", class: "w-16" %>
      </div>
    </div>
    <div class="col-span-10 flex flex-wrap -mt-16 lg:-mt-1"></div>
    <div class="col-span-1 grid">
      <div class="absolute right-0">
        <%=image_pack_tag "vector_plus_with_side_dots.svg", class: "w-40 -mr-20 -mt-48" %>
      </div>
      <div class="absolute right-0 -mt-12">
        <%=image_pack_tag "yellow_circle_full.svg", class:"w-12 mr-24 -mt-24" %>
      </div>
      <div class="absolute right-0">
        <%=image_pack_tag "off_white_1_4_circle_left.png", class: "w-16 -mt-56"%>
      </div>
    </div>
  </div>
</section>
