<div class="w-full shadow rounded-lg border border-gray-300 mt-4">
  <div class="flex items-center justify-between mt-3 mr-3">
    <div class="text-lg font-glacialbold tracking-wide pl-4 items-center">
      Testimonials from other Physicians
    </div>
    <div class="text-base bg-doctor-gray-100 py-2 rounded-tl-2lg rounded-br-2lg">
      <a href="<%=new_provider_testimonial_url(fdd_id: doctor.fdd_id)%>" target="_blank">
        <div class="flex items-center justify-center text-gray-800 px-4">
          <svg viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" class="w-4 h-4 fill-current text-gray-400">
            <path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"></path>
          </svg>
          <div class="text-base flex justify-center px-3 text-center">
            Provide a testimonial if you are a Physician
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="py-3 pl-4 w-full flex">
    <% if @testimonials.size > 0 %>
      <% @testimonials.each do |testimonial| %>
        <div class="w-full flex mt-6">
          <div class="w-4/12 lg:w-2/12 bg-doctor-gray-100 rounded-2lg overflow-hidden h-32">
            <% if testimonial&.given_by&.image.present? %>
              <%= image_tag doctor_display_image(testimonial&.given_by), class: "w-32 h-32 bg-doctor-gray-100 rounded-2lg ", itemprop: "image"  %>
            <% else %>
              <%= image_pack_tag "doctor_default.svg", class: "w-32 h-32 bg-doctor-gray-100 rounded-2lg ", itemprop: "image" %>
            <% end %>
          </div>
          <div class="w-7/12 lg:w-9/12">
            <div class="w-full">
              <div class="w-full lg:flex">
                <div class="lg:w-4/12 mt-2 pl-6">
                  <div class="flex lg:block">
                    <div class="text-gray-600 text-sm">Doctor Name:</div>
                    <div class="text-sm"><%=testimonial&.given_by&.name%></div>
                  </div>
                  <div class="mt-2 flex lg:block">
                    <div class="text-gray-600 text-sm">Speciality:</div>
                    <div class="text-sm"><%=testimonial&.given_by&.speciality&.name%></div>
                  </div>
                </div>
                <div class="lg:w-7/12 mt-2 pl-6 md:pl-0">
                  <div class="flex lg:block">
                    <div class="text-gray-600 text-sm">Date:</div>
                    <div class="text-sm">Posted on: <%=testimonial&.display_date%></div>
                  </div>
                  <div class="mt-2 flex lg:block">
                    <div class="text-gray-600 text-sm">Location:</div>
                    <div class="text-sm"><%=testimonial&.given_by&.state%></div>
                  </div>
                </div>
              </div>
              <div class="absolute right-0 -mt-12 -mr-32 hidden md:block">
                <%=image_pack_tag "light_yellow_slant.svg", class: "w-16" %>
              </div>
              <div class="absolute left-0 -mt-16 ml-16 hidden md:block">
                <%=image_pack_tag "yellow_circle_full.svg", class: "w-12" %>
              </div>
              <div class="absolute left-0 -mt-12 -ml-32 hidden md:block">
                <%=image_pack_tag "yellow_circle_chipped.png", class: "w-64" %>
              </div>
            </div>
            <div class="w-full ml-6 mt-4">
              <div>How do I know this Physician?</div>
              <div class="text-sm">
                <%=testimonial&.message&.html_safe%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="w-full flex">
        No testimonials yet
      </div>
    <% end %>
  </div>
  <% if @testimonials.size > 0 %>
    <div class="w-full flex justify-end pr-6 pb-4">
      <a href="#" class=" text-blue-400 underline text-sm">View all recommendations</a>
    </div>
  <% end %>
</div>
