<%= render(LoadingComponent.new) %>
<div class="lg:grid lg:mt-24 lg:grid-cols-12 lg:flex mt-32" data-controller="customjs">
  <div class="lg:mt-32 lg:col-span-1">
  </div>
  <div class="lg:col-span-11 flex mt-4 relative lg:-ml-4 lg:px-0 px-3">
    <div class="w-full">
      <div class="hidden lg:block">
        <div class="flex">
          <div class="search_width md:flex border justify-between items-center bg-gray-100 pb-2 md:py-1 mb-4 rounded-lg shadow" data-controller="search" data-search-render-url="<%=request.original_url%>">
            <div class="flex justify-center items-center w-full md:border-r border-b md:border-b-0 pr-4 autocomplete-div" data-controller="autocomplete" data-autocomplete-url-value="<%=global_search_url%>">
              <label class="ml-3 mr-5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 text-gray-600">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </label>
              <input class="md:my-2 my-3 w-full focus:outline-none bg-gray-100" type="text" data-search-target="name" name="speciality" placeholder="Name/Speciality" data-autocomplete-target="input" id="searchTerm" value="<%=speciality_name(params) || doctor_name(params) || clinic_name(params) %>">
              <ul data-autocomplete-target="results" class="autocomplete"></ul>
              <input type="hidden" name="doctor_id" data-autocomplete-target="hidden"/>
              <input type="hidden" name="search_term_type" data-search-target="searchTermType"/>
            </div>
            <div class="flex justify-center items-center w-full pr-4 border-b md:border-b-0 location-icon">
              <input class="md:my-2 my-3 ml-3 w-full focus:outline-none bg-gray-100" id="near" data-search-target='near' type="text" name="near" placeholder="Address/City/Zip" value="<%=params[:place]&.titleize%>">
            </div>
            <div class="text-center mt-4 md:text-left md:mt-0">
              <button class="bg-doctor-yellow text-gray-100 md:mr-4 rounded-md px-4 py-1 w-11/12 md:w-auto" data-search-target="search">Search</button>
            </div>
          </div>
        </div>
      </div>
      <!-- component -->
      <nav aria-label="Breadcrumb" class="text-sm">
        <ul class="list-none p-0 inline-flex">
          <% bread_crumbs = search_page_bread_crumb(@location_string, params) %>
          <% bread_crumbs.each do |bread_crumb| %>
            <% if bread_crumb&.first["url"].present? %>
              <li class="flex items-left">
                <a href="<%=bread_crumb&.first['url']%>" class="text-doctor-yellow pr-2"><%=bread_crumb&.first["name"]%></a>
                <span class="text-gray-500 pr-2">></span>
              </li>
            <% else %>
              <li class="text-gray-500" aria-current="page">
                <%=bread_crumb&.first["name"]%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </nav>
      <div class="w-full text-left flex justify-between">
        <div>
          <h1 class="font-hurmebold text-md inline-block" id="near-location">
            <%= search_page_h1_tag(@location_string, params) %>
          </h1>
          <span class="text-gray-600">(<span id="search_results_count"><%= @pagy.count %></span> results)</span>
        </div>
        <div class="lg:hidden" >
          <div class="px-4 py-1 border border-gray-500 rounded-full text-sm bg-gray-200 text-center cursor-pointer w-32" data-action="click->customjs#filterClick">More Filters</div>
        </div>
      </div>
      <div class="lg:w-full lg:flex mt-4 relative">
        <div class="lg:w-2/12 sidebar hidden lg:block" id="search-side-bar">
          <%= render(DoctorFilterComponent.new(special_near: @special_near, special_speciality: @special_speciality, **@search_params))%>
        </div>
        <div class="lg:w-10/12 ml-3 text-sm">
          <div class="w-full lg:flex items-center hidden">
            <div class="w-8/12 lg:text-right pr-6">
              <label class="text-sm">Sort by:</label>
              <div class="inline-block relative text-sm mt-1">
                <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-2 py-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline  text-gray-600">
                  <option>Best Match</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
              </div>
            </div>
            <div class="w-4/12">
              <div class="w-full text-center">
                <span class="mr-2">Map</span>
                <div class="relative inline-block w-12 mr-2 align-middle select-none transition duration-200 ease-in">
                  <input type="checkbox" name="map_toggle" id="map_toggle" class="toggle-checkbox absolute block w-5 h-5 rounded-full bg-white border-4 appearance-none cursor-pointer focus:outline-none" checked/>
                  <label for="map_toggle" class="toggle-label block overflow-hidden h-5 rounded-full bg-gray-300 cursor-pointer"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full lg:flex mt-6">
            <div class="lg:w-8/12">
              <div class="w-full" id="result-container" data-controller="modal">
                <%= render_doctor_cards %>
              </div>
              <div class="w-full text-center" id="pagination-container" data-controller="pagination" data-pagination-target="container" data-pagination-url-value="search-map.json" data-pagination-current-url-value="<%=request.path%>">
                <% if @pagy.count.positive? %>
                  <%== pagy_nav @pagy %>
                <% else %>
                  No Results found
                <% end %>
              </div>
            </div>
            <div
              class="lg:w-4/12 lg:ml-4 map-container mt-4 lg:mt-0 hidden lg:block"
              data-controller="maps"
              data-maps-defaultlocation="<%= current_location %>"
              data-maps-distance="<%= max_distance %>"
              data-maps-pins="<%= doctor_pins %>"
            >
              <div id="map" class="google-map rounded-lg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-8/12 py-8 border-gray-300 border-b">
        <div class=" text-black mb-3 text-xl">
          Best Doctors in <%=location_stinrg%>
        </div>
        <div class="-my-2 py-2 overflow-x-auto sm:px-6 lg:-mx-8 pr-10 lg:px-8">
          <div class="align-middle inline-block border border-gray-300 overflow-hidden bg-white shadow-dashboard">
            <table class="">
              <thead class="bg-gray-100">
                <tr>
                  <th class="px-8 py-2 border-b-2 border-r border-gray-300 text-left text-black">Doctor's Name</th>
                  <th class="px-8 py-2 border-b-2 border-r border-gray-300 text-center text-black">Clinic Fees</th>
                  <th class="px-8 py-2 border-b-2 border-r border-gray-300 text-center text-black">Rating</th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <% top_doctors = @doctors.first(5) %>
                <% if top_doctors.present? %>
                  <% top_doctors.each do |top_doctor| %>
                    <tr>
                      <td class="px-8 py-2 whitespace-no-wrap border-b border-r border-gray-300">
                        <div class="text-gray-700"><%=top_doctor&.name%></div>
                      </td>
                      <td class="px-8 py-2 text-center whitespace-no-wrap border-b border-r border-gray-300 text-gray-700">$<%=top_doctor&.min_price%></td>
                      <td class="px-8 py-2 text-center whitespace-no-wrap border-b border-r border-gray-300 "><%= render(StarRatingComponent.new(rating: top_doctor&.avg_rating, class: 'doc-rating')) %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-8/12 py-8 border-gray-300 border-b">
        <div class=" text-black mb-3 text-xl">Patient Reviews for Doctors in <%=location_stinrg%></div>
        <ul class="list-disc pl-8">
          <li class="mb-5">
            <div class="mb-2">Rhonda Schmidt's review for Dr. Stefanie Spaeth</div>
            <div class="text-sm truncate text-gray-700">Best dental clinic ever. They've got the best technology available and the doctor is damn good.I have been a patient over 28 years. They've got the best technology available and the doctor is damn good.I have been a patient over 28 years</div>
            <a class="text-sm text-doctor-yellow -mt-1 block" href="">Read More Reviews </a>
          </li>
          <li class="mb-5">
            <div class="mb-2">Rhonda Schmidt's review for Dr. Stefanie Spaeth</div>
            <div class="text-sm truncate text-gray-700">Best dental clinic ever. They've got the best technology available and the doctor is damn good.I have been a patient over 28 years. They've got the best technology available and the doctor is damn good.I have been a patient over 28 years</div>
            <a class="text-sm text-doctor-yellow -mt-1 block" href="">Read More Reviews </a>
          </li>
          <li class="mb-5">
            <div class="mb-2">Rhonda Schmidt's review for Dr. Stefanie Spaeth</div>
            <div class="text-sm truncate text-gray-700">Best dental clinic ever. They've got the best technology available and the doctor is damn good.I have been a patient over 28 years. They've got the best technology available and the doctor is damn good.I have been a patient over 28 years</div>
            <a class="text-sm text-doctor-yellow -mt-1 block" href="">Read More Reviews </a>
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-8/12 py-8 border-gray-300 border-b">
        <div class=" text-black mb-3 text-xl">Frequently Asked Questions</div>
        <ul class="list-decimal pl-8">
          <li class="mb-5">
            <div class="mb-2">What are the different types of dental specialists?</div>
            <div class="text-sm text-gray-700">This type of speciality deals with straightening of the teeth and jaw. The orthodontist will fit braces and treat disorders of the teeth. They will also deal with issues involving bone around the mouth area.</br>
            This type of specialisation is related to cosmetic dentistry. They implants to replace removed teeth and also treat prosthetics in mouth.
          </div>
        </li>
        <li class="mb-5">
          <div class="mb-2">What are the different types of dental specialists?</div>
          <div class="text-sm text-gray-700">This type of speciality deals with straightening of the teeth and jaw. The orthodontist will fit braces and treat disorders of the teeth. They will also deal with issues involving bone around the mouth area.</br>
          This type of specialisation is related to cosmetic dentistry. They implants to replace removed teeth and also treat prosthetics in mouth.
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
