<section class="lg:grid lg:w-full mt-16 grid grid-cols-12">
  <div class="col-span-1 relative">
    <div class="grid grid-rows-2">
      <div class="flex items-start">
        <%= image_pack_tag 'yellow_circle_outline_opacity.svg', class: "w-24" %>
        <div class="absolute top-0 mt-40">
          <%= image_pack_tag 'light_grey_3_lines_horizontal.svg'%>
        </div>
      </div>
      <div class="flex items-end">
        <div class="relative -mb-32">
          <%= image_pack_tag 'light_yellow_slant.svg', class: "w-16" %>
          <div class="absolute top-0 ml-8 lg:-mr-12 -mt-12">
            <%= image_pack_tag 'vector_plus_with_side_dots.svg', class: "w-24" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-10">
    <div class="w-full">
      <h2 class="text-doctor-blue font-hurmebold text-4xl mt-10 text-center">
        The Concierge Doctor Difference
      </h2>
    </div>
    <div class="lg:mx-16">
      <div class="w-full lg:flex mt-12">
        <div class="lg:w-1/2 w-full">
          <div class="text-doctor-yellow inline-block flip-card font-hurmebold text-2xl lg:pl-24">
            <div class="front">Exclusive & privileged</div>
            <div class="back">Patient-centered healthcare</div>
          </div>
        </div>
        <div class="lg:w-1/2 w-full pt-8 lg:pt-0">
          Imagine a scenario where your doctor is not rushed, not boggled down by paperwork, and he/she has all the time you need to sit down and discuss your health.
        </div>
      </div>
      <div class="w-full lg:flex mt-8">
        <div class="lg:w-1/2 w-full">
          <div class="text-doctor-yellow inline-block flip-card font-hurmebold text-2xl lg:pl-24">
            <div class="front">Continuity of care</div>
            <div class="back">Longitudinal relationship</div>
          </div>
        </div>
        <div class="lg:w-1/2 w-full pt-8 lg:pt-0">
          Imagine seeing this same doctor every year, year after year to continually take care of you.
        </div>
      </div>
      <div class="w-full lg:flex mt-8">
        <div class="lg:w-1/2 w-full">
          <div class="text-doctor-yellow inline-block flip-card font-hurmebold text-2xl lg:pl-24">
            <div class="front">Peace of mind</div>
            <div class="back">Priority access</div>
          </div>
        </div>
        <div class="lg:w-1/2 w-full pt-8 lg:pt-0">
          Now, imagine having direct access to this doctor’s personal phone and email for your urgent and unexpected needs round the clock (no answering service, no front desk call holds).
        </div>
      </div>
      <div class="w-full lg:flex mt-8">
        <div class="lg:w-1/2 w-full">
          <div class="text-doctor-yellow inline-block flip-card font-hurmebold text-2xl lg:pl-24">
            <div class="front">Doctors you can trust</div>
            <div class="back">High value healthcare</div>
          </div>
        </div>
        <div class="lg:w-1/2 w-full pt-8 lg:pt-0">
          All this for a small out of pocket premium membership fee that probably costs less than what an average person spends every month on eating at a restaurant. This out of pocket expense is justified by 1) high value healthcare, 2) lower wholesale drugs/labs pricing, and 3) reducing the insurance premiums to cover only for inpatient hospitalization, procedures and sub-specialty care.
        </div>
      </div>
      <div class="w-full lg:flex mt-8">
        <div class="lg:w-1/2 w-full">
          <div class="text-doctor-yellow inline-block flip-card font-hurmebold text-2xl lg:pl-24">
            <div class="front">Concierge Medicine</div>
            <div class="back">Direct Primary Care</div>
          </div>
        </div>
        <div class="lg:w-1/2 w-full pt-8 lg:pt-0">
          This in a nutshell is Direct Primary Care and Concierge Medicine.
        </div>
      </div>
    </div>
  </div>
  <div class="mt-32 col-span-1">
    <div class="flex items-center relative justify-end pb-8">
      <div class="mt-12">
        <%= image_pack_tag 'light_yellow_edge.png', class: "w-12" %>
      </div>
    </div>
  </div>
</section>
