<section class="sm:flex sm:w-full">
  <div class="sm:flex sm:w-full sm:ml-32 sm:mr-32 mx-20 sm:justify-center sm:flex-wrap">
    <div class="w-full text-center">
      <h3 class="text-doctor-blue font-glacialbold text-3xl">
        Regular/Traditional Primary Care
        <span class="text-doctor-yellow capitalize text-4xl font-glacialbold"><em>VS</em></span>
        DPC Concierge Doctor
      </h3>
      <div class="flex w-full justify-center">
        <div class="w-1/2 text-center mt-4">
          <span class="border border-doctor-yellow rounded-full px-4 py-2">Free for service</span>
        </div>
        <div class="w-1/2 text-center mt-4">
          <span class="border border-doctor-yellow rounded-full px-4 py-2">Membership Model</span>
        </div>
      </div>
    </div>
    <div class="flex w-full justify-center mt-16">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_3.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_4.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
    <!--

    <div class="flex w-full justify-center mt-16">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_10.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_9.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center mt-16">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_12.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_11.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center mt-16">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_14.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_13.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center mt-16">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_15.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_16.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>-->
  </div>
</section>
<section class="sm:grid sm:w-full mt-16 grid-cols-12">
  <div class="grid justify-between">
    <div class="mt-32 col-span-1 relative"></div>
  </div>
  <div class="col-span-10 flex flex-wrap">
    <div class="flex w-full justify-center">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_6.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_5.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
  </div>
  <div class="col-span-1 grid">
    <div class="flex items-center relative justify-end pb-8">
      <div class="mt-12">
        <%= image_pack_tag 'light_yellow_edge.png', class: "w-12" %>
      </div>
      <div class="absolute pl-4 right-0 -mt-8">
        <%= image_pack_tag 'light_grey_2_line_dots_side.svg' %>
      </div>
      <div class=" absolute top-0 left-0 pl-6 -mt-8">
        <%= image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-16 float-right" %>
      </div>
    </div>
  </div>
</section>
<section class="sm:grid sm:w-full mt-16 grid-cols-12">
  <div class="grid">
    <div class="col-span-1 flex items-center">
      <%= image_pack_tag 'off_white_1_4_circle.png', class: "w-16" %>
    </div>
  </div>
  <div class="col-span-10 flex flex-wrap">
    <div class="flex w-full justify-center">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_8.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_7.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-32 col-span-1"></div>
</section>
<section class="sm:grid sm:w-full mt-16 grid-cols-12">
  <div class="col-span-1"></div>
  <div class="col-span-10 flex flex-wrap">
    <div class="flex w-full justify-center">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_8.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_7.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
  </div>
  <div class="col-span-1 grid">
    <div class="flex items-end relative justify-end pr-4">
      <div class="mt-12">
        <%= image_pack_tag 'light_grey_slant.svg', class: "w-12" %>
      </div>
      <div class="absolute bottom-0 right-0 pb-1">
        <%= image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-10 float-right" %>
      </div>
    </div>
  </div>
</section>
<section class="sm:grid sm:w-full mt-16 grid-cols-12">
  <div class="grid">
    <div class="col-span-1 flex items-center relative">
      <%= image_pack_tag 'light_yellow_edge_2.svg', class: "w-16" %>
      <div class="absolute mr-2">
        <%= image_pack_tag 'light_grey_2_line_dots_side.svg' %>
      </div>
      <div class="absolute left-0 ml-4 -mt-56">
        <%= image_pack_tag 'light_grey_slant.svg' %>
      </div>
      <div class="absolute bottom-0">
        <%= image_pack_tag 'yellow_circle_big_shadow.svg', class: "w-16 -mt-64" %>
      </div>
    </div>
  </div>
  <div class="col-span-10 flex flex-wrap">
    <div class="flex w-full justify-center">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_12.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_11.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center mt-16">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_14.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_13.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-32 col-span-1"></div>
</section>
<section class="sm:grid sm:w-full mt-16 grid-cols-12">
  <div class="grid">
    <div class="col-span-1 relative flex items-end">
      <div class="">
        <%= image_pack_tag 'light_yellow_slant.svg', class: "w-16" %>
      </div>
      <div class=" absolute ml-6">
        <%= image_pack_tag 'vector_plus_with_1_dot.svg'%>
      </div>
    </div>
  </div>
  <div class="col-span-10 flex flex-wrap">
    <div class="flex w-full justify-center mt-16">
      <div class="w-1/2 border border-doctor-yellow rounded-tl-lg rounded-bl-lg border-r-0 shadow-xl">
        <%= image_pack_tag 'illustration_15.png', class: "w-full p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
      <div class="w-1/2 border border-doctor-yellow rounded-tr-lg rounded-br-lg shadow-xl">
        <%= image_pack_tag 'illustration_16.png', class: "w-full  p-8" %>
        <p class="mx-8 text-center mt-6 mb-12">
          The content for Illustration-2 explainer should be here. The content for Illustration-2 explainer should be here.
        </p>
      </div>
    </div>
    <div class="mt-32 col-span-1 relative"></div>
  </section>
