<section class="lg:grid lg:w-full lg:mt-32 mt-16">
  <div class="grid justify-between grid-cols-12">
    <div class="col-span-1 relative flex items-end">
      <%= image_pack_tag 'yellow_half_circle_thick.svg', class: "w-20 pt-4" %>
      <div class="absolute bottom-0 mb-40 ml-16">
        <%= image_pack_tag 'yellow_circle_full.svg', class: "w-8" %>
      </div>
    </div>
    <div class="col-span-10 lg:flex lg:flex-wrap">
      <div class="lg:grid lg:w-full lg:mt-16 bg-cover bg-center section3-bg-gray mt-8 rounded-3lg">
        <div class="lg:flex w-full">
          <div class="lg:w-4/12 py-4 lg:my-4 lg:mt-12 lg:mx-1 w-full">
            <div class="w-12/12 font-hurmebold text-4xl text-doctor-blue">
              <h2>Insurance-based Healthcare – <br />
                NOT Effective!</h2>
              <div class="border-b border-doctor-yellow pb-3 w-40"></div>
            </div>
            <div class="mt-5">
              <p>Tired of being another number in your doctor’s office?</p>
              <p class="mt-4">Tired of insurance companies determining the quality of your healthcare?</p>
            </div>
          </div>
          <div class="lg:w-8/12 my-4 overflow-hidden flex-start justify-end md:pr-5 w-full">
            <%= image_pack_tag 'illustration_1.svg', class: "w-full md:object-contain object-fill"  %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 grid grid-rows-3">
      <div class="row-span-1 mt-4 lg:mt-auto">
        <%= image_pack_tag 'off_white_half_full_circle.svg', class: "w-20 float-right" %>
      </div>
    </div>
  </div>
</section>
<section class="lg:grid lg:w-full mt-6">
  <div class="grid justify-between grid-cols-12">
    <div class="-mt-40 col-span-1 relative">
    </div>
    <div class="col-span-10 flex flex-wrap">
      <div class="lg:grid lg:w-full lg:mt-16 bg-cover bg-center section3-bg-gray mt-8 rounded-3lg">
        <div class="lg:flex w-full">
          <div class="lg:w-8/12 my-4 overflow-hidden flex justify-end pr-5 hidden lg:block">
            <%= image_pack_tag 'illustration_2.svg', class: "w-full object-contain" %>
          </div>
          <div class="lg:w-4/12 my-4 py-4 lg:mt-12 lg:mx-1">
            <div class="w-12/12 font-hurmebold text-4xl text-doctor-blue">
              <h2>Concierge Doctor = No Insurance Hassle = VERY Effective!!</h2>
              <div class="border-b border-doctor-yellow pb-3 w-40"></div>
            </div>
            <div class="mt-5">
              <p> Direct Primary Care / Concierge Medicine doctors are breaking the shackles from their insurance-reimbursed
                traditional practices, in efforts to provide a rejuvenated patient-focused health care.</p>
              <p class="mt-6">Difference between <span class="underline">Concierge doctor and traditional insurance based
                  doctor</span></p>
            </div>
          </div>
          <div class="lg:w-8/12 my-4 overflow-hidden flex-start justify-end md:pr-5 lg:hidden mt-4">
            <%= image_pack_tag 'illustration_2.svg', class: "w-full md:object-contain object-fill" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 flex items-end justify-end">
      <div class="relative bottom-0 right-0">
        <%= image_pack_tag 'off_white_circle_full.svg', class: "w-20 float-right" %>
        <div class="absolute -mt-10">
          <%= image_pack_tag 'yellow_circle_full.svg', class: "w-8" %>
        </div>
      </div>
    </div>
  </div>
</section>
