<section class="sm:grid sm:w-full mt-16 grid-cols-12 bg-cover bg-no-repeat" style="background-image: url(system/light_yellow_section_background.svg);">
  <div class="grid">
    <div class="col-span-1 relative">
      <%= image_pack_tag 'off_white_1_4_circle.png', class: "w-24" %>
    </div>
  </div>
  <div class="col-span-10 flex flex-wrap mb-10 relative">
    <div class="sm:flex sm:w-full mx-20 sm:justify-center sm:flex-wrap">
      <div class="w-full mx-10 mt-32">
        <h3 class="text-doctor-blue font-hurmebold text-2xl">
          Take a Quiz to find out if you would benefit from a Direct Primary Care/ Concierge Doctor
        </h3>
      </div>
      <div class="w-full mx-2 mt-10 ">
        <div class="p-3 flex w-full">
          <div class="w-3/4 text-xl pr-12 flex">
            <div class="w-1/12 flex justify-center items-start mt-2">
              <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
            </div>
            <div class="w-11/12">
              Do you like it when your doctor rushes through your doctor's visit in 10 minutes or less?
            </div>
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              No
            </a>
          </div>
        </div>
        <div class="p-3 flex w-full">
          <div class="w-3/4 text-xl pr-12 flex">
            <div class="w-1/12 flex justify-center items-start mt-2">
              <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
            </div>
            <div class="w-11/12">
              Do you like to wait in a never ending line to see your doctor?
            </div>
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              No
            </a>
          </div>
        </div>
        <div class="p-3 flex w-full">
          <div class="w-3/4 text-xl pr-12 flex">
            <div class="w-1/12 flex justify-center items-start mt-2">
              <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
            </div>
            <div class="w-11/12">
              Would you like priority access to your doctor (doctor's personal cell number, same day visits etc)?
            </div>
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              No
            </a>
          </div>
        </div>
        <div class="p-3 flex w-full">
          <div class="w-3/4 text-xl pr-12 flex">
            <div class="w-1/12 flex justify-center items-start mt-2">
              <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
            </div>
            <div class="w-11/12">
              Do you want to be able to trust your doctor?
            </div>
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              No
            </a>
          </div>
        </div>
        <div class="p-3 flex w-full">
          <div class="w-3/4 text-xl pr-12 flex">
            <div class="w-1/12 flex justify-center items-start mt-2">
              <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
            </div>
            <div class="w-11/12">
              Do you like a mediocre quality medical care?
            </div>
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              No
            </a>
          </div>
        </div>
        <div class="p-3 flex w-full">
          <div class="w-3/4 text-xl pr-12 flex">
            <div class="w-1/12 flex justify-center items-start mt-2">
              <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
            </div>
            <div class="w-11/12">
              Would you prefer a doctor whose decisions are not influenced by the insurance / corporate companies they work for?
            </div>
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              No
            </a>
          </div>
        </div>
        <div class="p-3 flex w-full">
          <div class="w-3/4 text-xl pr-12 flex">
            <div class="w-1/12 flex justify-center items-start mt-2">
              <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
            </div>
            <div class="w-11/12">
              Do you like being pushed around to multiple unnecessary specialists & tests for a simple medical problem?
            </div>
          </div>
          <div class="w-1/4">
            <a href="#" class="border border-doctor-yellow px-3 py-1 text-gray-600 rounded-full hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              Yes
            </a>
            <a class="border border-doctor-yellow px-4 py-1 text-gray-600 rounded-full ml-4 hover:bg-doctor-yellow hover:text-gray-100 bg-white">
              No
            </a>
          </div>
        </div>
        <div class="flex w-full justify-end">
          <div class="w-1/4 mt-8 mb-20">
            <button class="bg-doctor-yellow px-8 py-2 rounded-lg text-gray-100 shadow">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1 absolute right-0">
    <div class="flex items-end justify-end">
      <div class="z-10">
        <%= image_pack_tag 'yellow_circle_chipped.svg', class: "float-right w-56" %>
      </div>
      <div class="absolute left-0 top-0">
        <%= image_pack_tag 'yellow_circle_full.svg', class: "w-8" %>
      </div>
      <div class="absolute">
        <%= image_pack_tag 'light_grey_5_line_dots.svg'%>
      </div>
    </div>
  </div>
</section>
