<section class="lg:grid lg:w-full lg:mt-24 lg:grid-cols-12 flex mt-32">
  <div class="lg:mt-32 lg:col-span-1 relative">
    <%= image_pack_tag 'grey_cross_vector.svg', class: "lg:w-28" %>
  </div>
  <div class="lg:col-span-10 flex">
    <div class="lg:flex lg:w-full">
      <div class="lg:w-4/6 lg:my-32 px-4">
        <p class="font-hurmebold text-doctor-blue md:text-6xl lg:w-5/6 leading-none text-5xl">
          You deserve better healthcare!
        </p>
        <p class="">
          <h1 class="text-2xl mt-1">Find your Direct Primary Care Physician or Concierge Doctor</h1>
        </p>
        <div class="md:flex border rounded-lg mt-10 shadow justify-between items-center lg:mr-24 pb-2 md:py-2" data-controller="searches" data-action="google-maps-callback@window->searches#initPlaces">
          <%= render partial: 'home/partials/search' %>
        </div>
      </div>
      <div class="lg:w-2/6 relative mt-2">
        <div class="relative hidden lg:block">
          <div class="relative z-10">
            <%= image_pack_tag 'doctor2.png', class: 'w-full'%>
          </div>
        </div>
        <div class="flex absolute top-0 right-0 -mt-4 lg:-mr-8 justify-end">
          <%=image_pack_tag 'light_grey_2_lines_vertical.svg', class: 'w-20' %>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:col-span-1">
    <div class="relative">
      <div class="absolute right-0 top-0 lg:-mt-32">
        <%=image_pack_tag "yellow_circle_outline_opacity_right.png", class: "w-24"%>
      </div>
    </div>
    <div class="flex justify-end mt-56 bottom-0 relative">
      <%=image_pack_tag "light_grey_round_edge_sides.svg", class: "w-28"%>
    </div>
  </div>
</section>
