<section class="lg:grid lg:w-full lg:mt-16 -mt-24 grid-cols-12 bg-cover bg-no-repeat" style="background-image: url(system/light_yellow_section_background.svg);">
  <div class="grid">
    <div class="col-span-1 relative">
      <%= image_pack_tag 'off_white_1_4_circle.png', class: "lg:w-24 w-16" %>
    </div>
  </div>
  <div class="col-span-10 flex flex-wrap mb-10 relative -mt-16 lg:-mt-1" data-controller="survey">
    <div class="lg:flex lg:w-full lg:mx-20 mx-6 lg:justify-center lg:flex-wrap">
      <div class="w-full lg:mx-10 lg:mt-32">
        <h3 class="text-doctor-blue font-hurmebold text-2xl">
          Take a Quiz to find out if you would benefit from a Direct Primary Care Physician/ Concierge Doctor
        </h3>
      </div>
      <%= form_with(model: survey, class: " w-full", data: {type: "html", action: "ajax:error->survey#errorHandler ajax:success->survey#success"}) do |form| %>
        <div class="w-full mx-2 mt-10 ">
          <% questions.each_with_index do |question, index| %>
            <div class="p-3 lg:flex w-full">
              <div class="w-full lg:w-3/4 text-xl pr-12 flex">
                <div class="w-1/12 flex justify-center items-start mt-2 hidden lg:block">
                  <%= image_pack_tag 'vector_thick_circle.svg', class: "w-4"%>
                </div>
                <div class="lg:w-11/12 w-full">
                  <%=question%>
                </div>
              </div>
              <div class="w-full lg:w-1/4 lg:flex lg:mt-auto mt-4">
                <div class="radio-toolbar">
                  <input type="radio" id="question<%=index%>Yes" name="survey[question][<%=index%>]" value="Yes">
                  <label for="question<%=index%>Yes">Yes</label>
                  <input type="radio" id="question<%=index%>No" name="survey[question][<%=index%>]" value="No">
                  <label for="question<%=index%>No" class="ml-4">No</label>
                </div>
              </div>
            </div>
          <% end %>
          <div class="lg:flex w-full justify-between">
            <div class="w-full lg:w-2/4 mt-8 lg:ml-12" data-target="survey.success">
              <div class="flex justify-center items-center w-full bg-white rounded-lg shadow-md border border-gray-100 lg:ml-6">
                <label class="ml-3 mr-5">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 text-gray-600" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                  </svg>
                </label>
                <%= form.text_field :email, :class => "my-3 w-full focus:outline-none bg-white", :autocomplete => "off", placeholder: "Enter Your Email Address", data: {target: "survey.email"} %>
              </div>
              <div class="pl-4 text-red-500 text-md" data-target="survey.emailError"></div>
            </div>
            <div class="w-full lg:w-1/4 mt-8 mb-20 text-center lg:text-left">
              <%= form.button(type: "submit", class: "bg-doctor-yellow px-8 py-2  rounded-lg text-gray-100 shadow hover:bg-doctor-yellow-500 font-hurmebold  tracking-normal", data: {disable_with: "<i class='fab fa fa-spinner fa-spin pr-2'></i> Submiting...." }) do %>
                <span>Submit</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-span-1 absolute right-0">
    <div class="flex items-end justify-end">
      <div class="z-10">
        <%= image_pack_tag 'yellow_circle_chipped.svg', class: "float-right w-56" %>
      </div>
      <div class="absolute left-0 top-0">
        <%= image_pack_tag 'yellow_circle_full.svg', class: "w-8" %>
      </div>
      <div class="absolute">
        <%= image_pack_tag 'light_grey_5_line_dots.svg'%>
      </div>
    </div>
  </div>
</section>
