<section class="border-r relative w-1/6">
  <nav class="pt-6">
    <% menu_classes = admin_menu_classes(controller: "dashboard") %>
    <a href="<%=admin_dashboard_index_url%>" class="flex items-center pl-2">
      <div class="<%=menu_classes[:active_class]%> flex pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fill-current h-5 text-gray-500">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
        </svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Home</span>
      </div>
    </a>
    <% menu_classes = admin_menu_classes(controller: "specialities") %>
    <a href="<%=admin_specialities_url%>" class="flex items-center mt-3 pl-2 relative pt-2">
      <div class="<%=menu_classes[:active_class]%> flex pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fill-current h-5 text-gray-500">
          <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Speciality</span>
      </div>
    </a>
    <% menu_classes = admin_menu_classes(controller: "doctors") %>
    <a href="<%=admin_doctors_url%>" class="flex items-center mt-3 pl-2 relative pt-2">
      <div class="<%=menu_classes[:active_class]%> flex pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-5 text-gray-500"><path d="M17 10.27V4.99a1 1 0 0 0-2 0V15a5 5 0 0 1-10 0v-1.08A6 6 0 0 1 0 8V2C0 .9.9 0 2 0h1a1 1 0 0 1 1 1 1 1 0 0 1-1 1H2v6a4 4 0 1 0 8 0V2H9a1 1 0 0 1-1-1 1 1 0 0 1 1-1h1a2 2 0 0 1 2 2v6a6 6 0 0 1-5 5.92V15a3 3 0 0 0 6 0V5a3 3 0 0 1 6 0v5.27a2 2 0 1 1-2 0z"/></svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Doctors</span>
      </div>
    </a>
    <% if current_user.has_role?('admin') %>
    <% menu_classes = admin_menu_classes(controller: "users") %>
    <a href="<%=admin_users_url%>" class="flex items-center mt-3 pl-2 relative pt-2">
      <div class="<%=menu_classes[:active_class]%> flex pl-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fill-current h-5 text-gray-500">
          <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
        </svg>
        <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Users</span>
      </div>
    </a>
    <% end %>
    <% if current_user.has_role?('admin') %>
    <a href="" class="flex items-center mt-3 pl-4 pt-2 relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fill-current h-5 text-gray-500">
        <path d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z" />
        <path d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z" />
      </svg>
      <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Blog</span>
    </a>
    <nav class="block py-1">
      <% menu_classes = admin_menu_classes(controller: "topics") %>
      <a href="<%=admin_topics_url%>" class="block leading-tight ml-10 mb-2 mt-2 text-sm px-2 <%=menu_classes[:active_class]%>">Topics</a>
      <% menu_classes = admin_menu_classes(controller: "tips") %>
      <a href="<%=admin_tips_url%>" class="block leading-tight ml-10 mb-2 mt-2 text-sm text-gray-600 px-2 hover:text-indigo-900 <%=menu_classes[:active_class]%>">Tips</a>
    </nav>
    <% end %>
    <a href="" class="flex items-center pt-6 pl-4 relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="fill-current h-5 text-gray-500">
        <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z" />
        <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z" />
        <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z" />
      </svg>
      <span class="font-medium leading-tight pl-2 text-gray-700 text-md">Others</span>
    </a>
    <nav class="block py-1">
      <% menu_classes = admin_menu_classes(controller: "doctor_degrees") %>
      <a href="<%=admin_doctor_degrees_url%>" class="block leading-tight ml-10 mb-2 mt-2 text-sm px-2 <%=menu_classes[:active_class]%>">Doctors Degree</a>
      <% menu_classes = admin_menu_classes(controller: "services") %>
      <a href="<%=admin_services_url%>" class="block leading-tight ml-10 mb-2 mt-2 text-sm px-2 <%=menu_classes[:active_class]%>">Services</a>
      <% menu_classes = admin_menu_classes(controller: "languages") %>
      <a href="<%=admin_languages_url%>" class="block leading-tight ml-10 mb-2 mt-2 text-sm px-2 <%=menu_classes[:active_class]%>">Languages</a>
      <% menu_classes = if (controller_name == "states")
          admin_menu_classes(controller: "states")
        else
          admin_menu_classes(controller: "locations")
        end
      %>
      <% if current_user.has_role?('admin') %>
        <a href="<%=admin_states_url%>" class="block leading-tight ml-10 mb-2 mt-2 text-sm px-2 <%=menu_classes[:active_class]%>">States</a>
        <% menu_classes = admin_menu_classes(controller: "page_redirects") %>
        <a href="<%=admin_page_redirects_url%>" class="block leading-tight ml-10 mb-2 mt-2 text-sm text-gray-600 px-2 hover:text-indigo-900 <%=menu_classes[:active_class]%>">Page Redirects</a>
      <% end %>
    </nav>
  </nav>
  <a href="" class="absolute bottom-0 flex items-center mb-5 pl-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-5 text-gray-500"><path d="M3.94 6.5L2.22 3.64l1.42-1.42L6.5 3.94c.52-.3 1.1-.54 1.7-.7L9 0h2l.8 3.24c.6.16 1.18.4 1.7.7l2.86-1.72 1.42 1.42-1.72 2.86c.3.52.54 1.1.7 1.7L20 9v2l-3.24.8c-.16.6-.4 1.18-.7 1.7l1.72 2.86-1.42 1.42-2.86-1.72c-.52.3-1.1.54-1.7.7L11 20H9l-.8-3.24c-.6-.16-1.18-.4-1.7-.7l-2.86 1.72-1.42-1.42 1.72-2.86c-.3-.52-.54-1.1-.7-1.7L0 11V9l3.24-.8c.16-.6.4-1.18.7-1.7zM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
    <span class="font-medium leading-tight pl-4 text-gray-700 text-sm">Settings</span>
  </a>
</section>
