<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find My Direct Doctor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application_style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="font-glacial text-px18">
    <%= render partial: 'shared/header' %>
    <div class="absolute top-0">
      <div class="absolute">
        <%=image_pack_tag 'light_gray_round_edges.svg', class: "w-24"%>
      </div>
      <div class="top-0 px-12">
        <%= image_pack_tag 'light_gray_lines_horizontal.svg', class: "w-40"  %>
      </div>
    </div>
    <div class="">
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
