<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Concierge Doctors and Direct Primary Care Physicians Online | FindMyDirectDoctor</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find the best direct primary care physicians and top concierge doctors online. FindMyDirectDoctor is the most comprehensive resource to find concierge doctors and direct primary care doctors in the US. Ask health queries, book appointments and consult for any medical assistance.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="dns-prefetch" href="https://code.jquery.com">
    <link rel="dns-prefetch" href="https://cdn.rawgit.com">
    <%= stylesheet_pack_tag 'application_style', media: 'all', 'data-turbolinks-track': 'reload', :async => "async"%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', :async => "async" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151952917-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-151952917-2');
    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
  </head>
  <body class="font-glacial text-px18">
    <%= render partial: 'shared/header' %>
    <div class="absolute top-0">
      <div class="absolute">
        <%=image_pack_tag 'light_gray_round_edges.svg', class: "w-24"%>
      </div>
      <div class="top-0 px-12">
        <%= image_pack_tag 'light_gray_lines_horizontal.svg', class: "w-40"  %>
      </div>
    </div>
    <div class="w-full">
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
    <script>
      $(".flip-card").flip({
        axis: 'x',
        speed: 1000,
        reverse: true
      });
      
      setInterval(function(){
        $('.flip-card').flip('toggle');
      },2000)
    </script>
  </body>
</html>
